<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-files-o" aria-hidden="true"></i>
                    Stories
                </h1>
            </div>
            <hr />

            <p>
                If you are faced with making decision about the diagnosis and treatment of prostate cancer,
                it may help to hear how other men have made their decisions.
            </p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md ">
            <b class="definition-title">Field’s Story</b>
            <video width="420" height="310" controls class="embed-responsive embed-responsive-4by3">
                <source src="/assets/video/prostate-screening/stories/field-story.mp4" type="video/mp4">
            </video>

            <p class="text-light-blue">Let’s listen to Field’s story</p>
        </div>

        <div class="col-md">
            <b class="definition-title">Michael’s Story</b>
            <video width="420" height="310" controls class="embed-responsive embed-responsive-4by3">
                <source src="/assets/video/prostate-screening/stories/michael-story.mp4" type="video/mp4">
            </video>

            <p class="text-light-blue">Let’s listen to Michael’s story</p>
        </div>
    </div>
</div>