<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
            Step 1: Get Tested
        </h1>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg">
            <p class="definition-title"><i>Prostate Test</i></p>
            <p>As you learned before, there are two tests used for screening for prostate cancer:</p>
            <ul>
                <li>The Prostate Specific Antigen test or <a href="#" data-toggle="modal" data-target="#prostateExam">PSA</a> (blood) test</li>
                <li>The Digital Rectal Examination or the <a href="#" data-toggle="modal" data-target="#prostateExam">DRE</a> (finger) exam</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <p class="definition-title"><i>Which Test</i></p>
            <p>
                No test is right all the time. The PSA test is better at finding small cancers, or
                those that cannot be felt by the DRE. The DRE can sometimes help find cancers in men with normal PSA
                levels.
            </p>
            <p>
                Some doctors order both tests at the same time, while other doctors order the PSA 
                and, depending on results, perform the DRE.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="getTestedPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="getTestedStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>

<!-- Prostate Exams: PSA & DRE Modal -->
<div class="modal fade" id="prostateExam" tabindex="-1" role="dialog" aria-labelledby="prostateExamTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-success">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="modalTitle">Prostate Exams: PSA & DRE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="prostateExamStop()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <b>PSA:</b> PSA stands for Prostate Specific Antigen. 
                    PSA is a substance (protein) made by the prostate gland 
                    and released into the blood. The PSA test measures the 
                    level of PSA in the blood to determine if follow up 
                    testing is needed. *
                </p>

                <p>
                    <b>DRE:</b> DRE stands for Digital Rectal Exam. A 
                    doctor inserts a gloved and lubricated finger into the 
                    rectum. This allows the doctor to feel the back portion 
                    of the prostate to check for hard or lumpy areas that 
                    require follow-up testing.*
                </p>

                <p>
                    * See Module 1, “The Importance of the Prostate”,  for additional information.
                </p>
            </div>
            <div class="modal-footer">                
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="prostateExamPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal" 
                    (click)="prostateExamStop()">
                    <i class="fa fa-window-close" aria-hidden="true"></i>
                    Close
                </button> 
                </div>
            </div>
        </div>
    </div>
</div>