<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-thermometer-half" aria-hidden="true"></i>
            Learning the Symptoms - Any
        </h1>
    </div>

    <hr />
    
    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md-8">
            <h4 class="problem-title">
                What to do if you do have symptoms?
            </h4>     

            <p class="margin-top-twenty">
                If you have <b>any</b> of these symptoms:
            </p>

            <ul>
                <li>Find out what is causing your symptoms</li>
                <li>See your doctor</li>
                <li>Get a diagnosis</li>
            </ul>

            <!-- Audio -->
            <div class="row margin-top-seventy">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="symptomsPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="symptomsStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>

        <!-- Image -->
        <div class="col-md-4 text-center">
            <img src="/assets/img/features/risks-symptoms/learn-symptoms/any-symptoms.png" width="260" height="300">
        </div>
    </div>
</div>