<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-hand-o-up" aria-hidden="true"></i>
            DRE (the finger exam)
        </h1>
    </div>

    <hr />

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <h5>
                <b>DRE</b> stands for <b class="definition-title">Digital Rectal Exam</b>.
            </h5>
            <ul>
                <li>It is a quick exam to check the prostate for hard or lumpy areas.</li>
                <li>For this test, a doctor inserts a gloved and lubricated finger into the rectum. This allows the
                    doctor to feel the back portion of the prostate.</li>
                <li>Your doctor will feel its size and search for any irregular or abnormally firm areas.</li>
                <li>The DRE is a brief procedure which can cause some discomfort.</li>
            </ul>

            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="digitalRectalExamPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="digitalRectalExamStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>

        <!-- Video -->
        <div class="col-md">
            <div class="row embed-responsive  embed-responsive-4by3">
                <video width="382" height="255" controls>
                    <source src="/assets/video/prostate-importance/prostate-exams/digital-rectal-exam.mp4" type="video/mp4">                
                </video>
            </div>

            <div class="row">
                <p class="text-center">
                    [Video embedded with permission from BMJ Learning (https://youtu.be/fUwLRtJN4Aw)]
                </p>
            </div>
        </div>
    </div>
</div>