<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    Watch and Wait
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-lg">
            <p>Some men choose to watch if their symptoms increase or cancer grows.</p>

            <ul>
                <li>
                    The cancer is closely watched by having the <a href="#" data-toggle="modal" data-target="#psa-dre-biopsy">PSA</a> 
                    and/or <a href="#" data-toggle="modal" data-target="#psa-dre-biopsy">DRE</a> tests regularly,
                    and undergoing additional <a href="#" data-toggle="modal" data-target="#psa-dre-biopsy">biopsies</a>, if needed.
                </li>
                <li>
                    The cancer is treated only if it shows signs of growing fast or when it causes symptoms.
                </li>
                <li>
                    Main risks of watching and waiting:
                    <ul>
                        <li>The cancer may spread, making it more difficult to treat later.</li>
                        <li>Treatment options may be limited once the cancer has spread.</li>
                        <li>The cancer could become fatal.</li>
                      </ul>
                </li>
            </ul>
            
            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="watchAndWaitPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="watchAndWaitStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PSA, DRE, & Biopsy Modal -->
<div class="modal fade" id="psa-dre-biopsy" tabindex="-1" role="dialog" aria-labelledby="psa-dre-biopsyTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-success">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="modalTitle">PSA, DRE, & Biopsy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="psaDreBiopsyStop()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <b>PSA: </b> 
                    PSA stands for Prostate Specific Antigen. PSA is a substance (protein)
                    made by the prostate gland and released into the blood. The PSA test
                    measures the level of PSA in the blood.*
                </p>
                <p>
                    <b>DRE: </b>
                    DRE stands for Digital Rectal Exam. A doctor inserts a gloved and lubricated
                    finger into the rectum. This allows the doctor to feel the back portion of
                    the prostate to check for hard or lumpy areas.*
                </p>
                <p>
                    <b>Biopsy: </b>
                    The removal of a sample of tissue, which is then examined under a microscope to check for cancerous changes.
                </p>
                <p>
                    * See Module 1, “The Importance of the Prostate”,  for additional information.
                </p>
            </div>
            <div class="modal-footer">                
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="psaDreBiopsyPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal" (click)="psaDreBiopsyStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Close
                    </button> 
                </div>
            </div>
        </div>
    </div>
</div>