<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
      <a class="navbar-brand" href="/home">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">
              <i class="fa fa-home" aria-hidden="true"></i>
              {{ home}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prostate-importance">
              <b>
                1.
                {{prostateImportance}}
              </b>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/risks-symptoms">
              <b>
                2.
                {{risksSymptoms}}
              </b>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prostate-screening">
              <b>
                3. 
                {{prostateScreening}}
              </b>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/diagnosis-treatment">
              <b>
                4.
                {{diagnosisTreatment}}
              </b>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/best-choice">
              <b>
                5.
                {{bestChoice}}
              </b>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>