<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-clone" aria-hidden="true"></i>
            Choices
        </h1>
    </div>
    
    <hr/>

    <div class="row">
         <!-- Text and Audio -->
        <div class="col-md">
            <p class="definition-title"><i>Choices</i></p>
            <ul>
                <li>
                    Some men choose to get screened for prostate cancer every year, while other men choose not to, 
                    and some men have not made a decision whether or not screening is right for them.
                </li>
                <li>
                    Regardless of which group you are in, your decision should be based on the facts that you learn, 
                    discussion with your doctors, and your own feelings and beliefs.
                </li>
            </ul>
            
            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="bestChoicePlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="bestChoiceStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>

        <!-- Image -->
        <div class="text-center">
            <img src="/assets/img/features/prostate-screening/choice/best-choice.png" width="200" height="250">
        </div>
    </div>
</div>
