<div class="container">
    <p></p>
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="common-problems-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="urine-related-tab" data-toggle="pill" href="#urine-related" role="tab" 
             aria-controls="urine-related" aria-selected="true">
             1. Urine Related
          </a>
          <a class="nav-link" id="common-symptoms-tab" data-toggle="pill" href="#common-symptoms" role="tab" 
             aria-controls="common-symptoms" aria-selected="false">
             2. Common Symptoms
          </a>
       
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="common-problems-tabContent">
          <div class="tab-pane fade show active" id="urine-related" role="tabpanel" aria-labelledby="urine-related-tab">
            <urine-related></urine-related>
          </div>
          <div class="tab-pane fade" id="common-symptoms" role="tabpanel" aria-labelledby="common-symptoms-tab">
            <common-symptoms></common-symptoms>
        </div>
      </div>
    </div>
  </div>
