<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-industry" aria-hidden="true"></i>
                    Making the Best Choice - Factors
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <p class="definition-title">Conversations with your Doctor</p>
            
            <p>
                Although the information in this program will help, it cannot replace the conversations you have with your doctor.
            </p>

            <p>
                Talking with your doctor is perhaps the most important step in making health decisions.
            </p>
            
            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="factorsPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="factorsStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Image -->
        <div class="col-md text-center">
            <img src="/assets/img/features/best-choice/factors/factors.png" width="470" height="335">
         </div>
    </div>
</div>
