<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Watchful Waiting
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md">
            <video width="352" height="320" controls class="embed-responsive embed-responsive embed-responsive-4by3">
                <source src="/assets/video/best-choice/choices/watchful-waiting-allan-story.mp4" type="video/mp4">
            </video>
            <p class="definition-title">Let’s listen to Allan’s story </p>
        </div>
        <div class="col-md">
            <video width="352" height="320" controls class="embed-responsive embed-responsive embed-responsive-4by3">
                <source src="/assets/video/best-choice/choices/watchful-waiting-john-story.mp4" type="video/mp4">
            </video>
            <p class="definition-title">Let’s listen to John’s story </p>
         </div>
    </div>
</div>