<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    Making the Best Choice - Discussion Questions
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <p class="definition-title">Screening with your Doctor</p>

            <p>
                To decide if screening is right for you, discuss screening with your doctor and the people important in your life.
            </p>

            <p>
                Here are some questions you might want to discuss with your doctor.
            </p>

            <p>
                Are there other questions you have? Be sure to write them down before you meet with your doctor.
            </p>
            
            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="discussionQuestionsPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="discussionQuestionsStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Image -->
        <div class="col-md text-center">
            <img src="/assets/img/best-choice/discussion/discussion-questions.png" width="390" height="285" class="img-fluid">
         </div>
    </div>
</div>
