<div class="container">
    <div class="row">
        <div class="col-md margin-top-twenty">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    What is the Prostate?
                </h1>
            </div>
            <hr/>
            
            <p class="definition-title"><i>Prostate</i></p>
            <p>The prostate is a gland in men that makes the fluid that carries sperm.</p>

            <br/>
            <p class="definition-title"><i>Location</i></p>
            <p>
                It is located in front of the <a href="#" data-toggle="modal" data-target="#bladderRectum">rectum</a> 
                just below the <a href="#" data-toggle="modal" data-target="#bladderRectum">bladder</a>.
            </p>

            <br/>
            <p class="definition-title"><i>Size</i></p>
            <p>It is about the size of a walnut.</p>
        </div>

        <!-- Video -->
        <div class="col-md text-center margin-top-twenty">
            <video width="420" height="400" controls>
                <source src="/assets/video/features/prostate-importance/what-is-prostate/what-is-prostate.mp4" type="video/mp4">                
            </video>
        </div>
    </div>
</div>

<!-- Rectum and Bladder Modal -->
<div class="modal fade" id="bladderRectum" tabindex="-1" role="dialog" aria-labelledby="bladderRectumTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-success">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="modalTitle">Bladder & Rectum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bladderRectumStop()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Bladder:</b> The organ that stores urine.</p>
                <p>
                    <b>Rectum:</b> The lower part (last 8-10 inches) of the large intenstine. 
                    The rectum stores solid waste (stool) until it leaves the body through the anus.
                </p>
            </div>
            <div class="modal-footer">                
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="bladderRectumPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal" (click)="bladderRectumStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Close
                    </button> 
                </div>
            </div>
        </div>
    </div>
</div>