<div class="container">
    <div class="title">
      <h1 class="problem-title">
        <i class="fa fa-thermometer-quarter" aria-hidden="true"></i>
        Other Common Symptoms
      </h1>
    </div>
  
    <hr />
  
    <!-- -Text -->
    <div class="row">
      <div class="col-lg">
        <h5 class="definition-title">You should see your doctor if you have any of these symptoms:</h5>
      </div>
    </div>
  
    <!-- Table -->
    <div class="row">
      <div class="col-md">
        <table class="table">
          <thead class="table-primary text-center">
            <tr>
              <th colspan="3">Symptoms</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fever, chills, or body aches</td>
              <td>Great discomfort or pain in your belly</td>
              <td>Pain in the area between your scrotum and anus</td>
            </tr>
            <tr>
              <td>Pain in your penis or scrotum</td>
              <td>Pain while urinating or after ejaculation</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg text-center">
        <b>
          Your doctor will evaluate your symptoms and conduct a physical exam.
          Your doctor may also order specific tests to confirm if you have a prostate problem.
        </b>
      </div>
    </div>
  
    <br />
  
    <!-- Audio -->
    <div class="row">
      <div class="col-md">
        <button type="button" class="btn btn-outline-success btn-block" (click)="symptomsPlay()">
          <i class="fa fa-play" aria-hidden="true"></i>
          Play Audio
        </button>
      </div>
      <div class="col-md">
        <button type="button" class="btn btn-outline-secondary btn-block" (click)="symptomsStop()">
          <i class="fa fa-stop" aria-hidden="true"></i>
          Stop Audio
        </button>
      </div>
    </div>
  </div>