<div class="container">
  <p></p>
  <div class="row">
    <div class="col-3">
      <ul class="nav flex-column nav-pills" id="additionalTestsTab" role="tablist" aria-orientation="vertical">
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'additionalTestsHome'}"
          (click)="setSubHrefTab('additionalTestsHome')">
          <a class="nav-link active" id="additionalTestsHomeTab" data-toggle="pill" href="#additionalTestsHome"
            role="tab" aria-controls="additionalTestsHome" aria-selected="true">
            Additional Tests
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'bloodUrineTest'}"
          (click)="setSubHrefTab('bloodUrineTest')">
          <a class="nav-link" id="bloodUrineTestTab" data-toggle="pill" href="#bloodUrineTest" role="tab"
            aria-controls="bloodUrineTest" aria-selected="false">
            1. Blood & Urine
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'transRectalUltrasound'}"
          (click)="setSubHrefTab('transRectalUltrasound')">
          <a class="nav-link" id="transRectalUltrasoundTab" data-toggle="pill" href="#transRectalUltrasound" role="tab"
            aria-controls="transRectalUltrasound" aria-selected="false">
            2. TRUS
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'magneticResonanceImaging'}"
          (click)="setSubHrefTab('magneticResonanceImaging')">
          <a class="nav-link" id="magneticResonanceImagingTab" data-toggle="pill" href="#magneticResonanceImaging"
            role="tab" aria-controls="magneticResonanceImaging" aria-selected="false">
            3. MRI
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'biopsy'}"
          (click)="setSubHrefTab('biopsy')">
          <a class="nav-link" id="biopsyTab" data-toggle="pill" href="#biopsy" role="tab" aria-controls="biopsy"
            aria-selected="false">
            4. Biopsy
          </a>
        </li>
      </ul>
    </div>
    <div class="col-9">
      <div class="tab-content" id="additionalTestsTabContent">
        <div class="tab-pane fade show active" id="additionalTestsHome" role="tabpanel"
          aria-labelledby="additionalTestsHomeTab" [ngClass]="{ 'active': currentSubHref === 'additionalTestsHome'}">
          <additional-tests-home></additional-tests-home>
        </div>
        <div class="tab-pane fade" id="bloodUrineTest" role="tabpanel" 
          aria-labelledby="bloodUrineTestTab" [ngClass]="{ 'active': currentSubHref === 'bloodUrineTest'}">
          <blood-urine-test></blood-urine-test>
        </div>
        <div class="tab-pane fade" id="transRectalUltrasound" role="tabpanel"
          aria-labelledby="transRectalUltrasoundTab" [ngClass]="{ 'active': currentSubHref === 'transRectalUltrasound'}">
          <transrectal-ultrasound-test></transrectal-ultrasound-test>
        </div>
        <div class="tab-pane fade" id="magneticResonanceImaging" role="tabpanel"
          aria-labelledby="magneticResonanceImagingTab" [ngClass]="{ 'active': currentSubHref === 'magneticResonanceImaging'}">
          <magnetic-resonance-imaging></magnetic-resonance-imaging>
        </div>
        <div class="tab-pane fade" id="biopsy" role="tabpanel" aria-labelledby="biopsyTab"  [ngClass]="{ 'active': currentSubHref === 'biopsy'}">
          <biopsy></biopsy>
        </div>
      </div>
    </div>
  </div>
</div>