<div class="container">
    <p></p>
    <div class="row">
        <div class="col-sm text-center">
            <img src="/assets/img/general/three-males.png" class="img-fluid" style="width: 70%;">
        </div>
        <div class="col-md">
            <div id="module">
                <h1 id="module-title">MODULE 3</h1>
                <h3 id="module-sub-title">SCREENING FOR PROSTATE CANCER</h3>
                <br />
                <ul>
                    <li>What is prostate cancer testing?</li>
                    <li>Should I get tested for prostate cancer?</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md">
                    <img src="/assets/img/general/logos.png" class="img-fluid" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="prostateScreeningHomePlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="prostateScreeningHomeStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>
