<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-tag" aria-hidden="true"></i>
            Should I get a PSA test?
        </h1>
    </div>
    
    <hr/>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <p>
                The best recommendation is that you take an active role when making the decision, 
                instead of asking the doctor to make the decision for you. 
            </p>

            Current guidelines recommend Shared Decision Making meaning:
            <ul>
                <li>
                    You talk with your doctor about the general risks and benefits of the PSA test for prostate cancer screening, and
                </li>
                <li>
                    Together, you and your doctor, make a decision about the choice that will be best for you as an individual.
                </li>
            </ul>

            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="sharedDecisionMakingPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="sharedDecisionMakingStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>

        <!-- Image -->
        <div class="text-center">
            <img src="/assets/img/prostate-screening/choice/shared-decision-making.png" width="210" height="250" class="img-fluid">
        </div>
    </div>
</div>