<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    Making the Best Choice: Is screening right for you?
                </h1>
            </div>
            <hr />

            <h6 class="definition-name">
                Now take a few seconds to think about your OWN preferences.
            </h6>
            <p>
                Which of the following statements sounds like you?
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md radio-toolbar">
            <p>
                I understand that screening may or may not help to save my life. 
                <b>
                    Even so, I prefer to get screened because I think it is better to be safe than sorry.
                </b>
            </p>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="safeThanSorry" id="safeThanSorryYes"
                    value="Yes">
                <label class="form-check-label" for="safeThanSorryYes">
                    Yes
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="safeThanSorry" id="safeThanSorryNo" value="No">
                <label class="form-check-label" for="safeThanSorryNo">
                    No
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="safeThanSorry" id="safeThanSorryNotSureYet"
                    value="Not Sure Yet">
                <label class="form-check-label" for="safeThanSorryNotSureYet">
                    Not Sure Yet
                </label>
            </div>
        </div>

        <div class="col-md radio-toolbar">
            <p>
                I understand that screening may or may not help to save my life. 
                <b>
                 I also understand that screening may give a false result. I think I am better off not getting screened.
                </b>
            </p>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="falseResult" id="falseResultYes"
                    value="Yes">
                <label class="form-check-label" for="falseResultYes">
                    Yes
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="falseResult" id="falseResultNo" value="No">
                <label class="form-check-label" for="falseResultNo">
                    No
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="falseResult" id="falseResultNotSureYet"
                    value="Not Sure Yet">
                <label class="form-check-label" for="falseResultNotSureYet">
                    Not Sure Yet
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="prostateScreeningPreferencesPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="prostateScreeningPreferencesStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>