<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-stethoscope" aria-hidden="true"></i>
            Prostate Exams
        </h1>
    </div>
    
    <hr/>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <p class="definition-title">Prostate Cancer Screening Exams</p>
            <p>
                Prostate cancer screening exams are done to look for early signs of disease 
                in people who have no symptoms and before they have problems. 
            </p>
            
            The main <b>prostate screening exams</b> are:
            
            <ol>
                <li>Digital Rectal Exam (DRE)</li>
                <li>Prostate Specific Antigen (PSA) Test</li>
           </ol>
           <p>
            The DRE and PSA tests can tell if you have prostate problems, but other 
            tests may be needed to see exactly what problem you have.
           </p>

            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="prostateExamsHomePlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="prostateExamsHomeStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>

        <!-- Image -->
        <div class="col-md">
            <div class="row text-center">
                <img src="/assets/img/features/prostate-importance/prostate-exams/screening-test.jpg" width="360" height="278">
            </div>
        </div>
    </div>
</div>
