<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-thermometer-full" aria-hidden="true"></i>
            Learning the Symptoms - Often
        </h1>
    </div>

    <hr />

    <h4 class="definition-title">
        Learn the Symptoms of Prostate Cancer
    </h4>
    <div class="row">
        <div class="col-md-6">
            <h4 class="problem-title margin-top-twenty">
                <b>OFTEN</b>, symptoms are not due to cancer
            </h4>

            <p class="margin-top-ten">
                Keep in mind, you can have those symptoms and not have cancer. Symptoms can be caused by:
            </p>

            <ul>
                <li>Other prostate problems that are not cancer</li>
                <li>Other medical conditions</li>
                <li>Certain medications</li>
                <li>Aging</li>
            </ul>
        </div>

        <div class="col-md-6 text-center">
            <img src="/assets/img/features/risks-symptoms/learn-symptoms/often-symptoms.png" width="290" height="290">

            <div class="row margin-top-ten">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="symptomsPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="symptomsStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>