<div class="container">
    <p></p>
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="choice-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="choice-tab" data-toggle="pill" href="#choice" role="tab"
                    aria-controls="choice" aria-selected="true">
                    1. Best Choice
                </a>
                <a class="nav-link" id="shared-decision-making-tab" data-toggle="pill" href="#shared-decision-making"
                    role="tab" aria-controls="shared-decision-making" aria-selected="false">
                    2. Shared Decision Making
                </a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="choiceTabContent">
                <div class="tab-pane fade show active" id="choice" role="tabpanel" aria-labelledby="choice-tab">
                    <best-choice></best-choice>
                </div>
                <div class="tab-pane fade" id="shared-decision-making" role="tabpanel"
                    aria-labelledby="shared-decision-making-tab">
                    <shared-decision-making></shared-decision-making>
                </div>
            </div>
        </div>
    </div>
</div>