<div class="container">
    <p></p>
    <div class="row">
        <!-- Tabs -->
        <div class="col-3">
            <ul class="nav flex-column nav-pills" id="learnSymptoms" role="tablist" aria-orientation="vertical">
                <li class="nav-item waves-effect waves-light"
                    [ngClass]="{ 'active': currentSubHref === 'learnSymptomsNone'}"
                    (click)="setSubHrefTab('learnSymptomsNone')">
                    <a class="nav-link active" id="learnSymptomsNoneTab" data-toggle="pill" href="#learnSymptomsNone"
                        role="tab" aria-controls="learnSymptomsNone" aria-selected="true">
                        1. None
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light"
                    [ngClass]="{ 'active': currentSubHref === 'learnSymptomsCommon'}"
                    (click)="setSubHrefTab('learnSymptomsCommon')">
                    <a class="nav-link" id="learnSymptomsCommonTab" data-toggle="pill" href="#learnSymptomsCommon"
                        role="tab" aria-controls="learnSymptomsCommon" aria-selected="false">
                        2. Common
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light"
                    [ngClass]="{ 'active': currentSubHref === 'learnSymptomsOther'}"
                    (click)="setSubHrefTab('learnSymptomsOther')">
                    <a class="nav-link" id="learnSymptomsOtherTab" data-toggle="pill" href="#learnSymptomsOther"
                        role="tab" aria-controls="learnSymptomsOther" aria-selected="false">
                        3. Other
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light"
                    [ngClass]="{ 'active': currentSubHref === 'learnSymptomsWhatToDo'}"
                    (click)="setSubHrefTab('learnSymptomsWhatToDo')">
                    <a class="nav-link" id="learnSymptomsWhatToDoTab" data-toggle="pill" href="#learnSymptomsWhatToDo"
                        role="tab" aria-controls="learnSymptomsWhatToDo" aria-selected="false">
                        4. What to do
                    </a>
                </li>
            </ul>
        </div>

        <!-- Panel Content-->
        <div class="col-9">
            <div class="tab-content" id="learnSymptomsContent">
                <div class="tab-pane fade show active" id="learnSymptomsNone" role="tabpanel"
                    aria-labelledby="learnSymptomsNoneTab"
                    [ngClass]="{ 'active': currentSubHref === 'learnSymptomsNone'}">
                    <symptoms-none></symptoms-none>
                </div>
                <div class="tab-pane fade" id="learnSymptomsCommon" role="tabpanel"
                    aria-labelledby="learnSymptomsCommonTab"
                    [ngClass]="{ 'active': currentSubHref === 'learnSymptomsCommon'}">
                    <symptoms-common></symptoms-common>
                </div>
                <div class="tab-pane fade" id="learnSymptomsOther" role="tabpanel"
                    aria-labelledby="learnSymptomsOtherTab"
                    [ngClass]="{ 'active': currentSubHref === 'learnSymptomsOther'}">
                    <symptoms-other></symptoms-other>
                </div>
                <div class="tab-pane fade" id="learnSymptomsWhatToDo" role="tabpanel"
                    aria-labelledby="learnSymptomsWhatToDoTab"
                    [ngClass]="{ 'active': currentSubHref === 'learnSymptomsWhatToDo'}">
                    <what-to-do></what-to-do>
                </div>
            </div>
        </div>
    </div>
</div>