<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                    Decisions About Treatment
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <p>
                If you are diagnosed with early stage prostate cancer, you will need to discuss your options with your doctor
            </p>
            
            <ul>
                <li>Some men choose to actively treat the prostate cancer, using surgery or radiation.</li>
                <li>Some men choose to not have active treatment. This is called watchful waiting  or active surveillance.</li>
            </ul>

            <p>
                Both options have different risks and benefits.
            </p>

            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="decisionHomePlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="decisionHomeStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Video -->
        <div class="col-md text-center">
            <video width="382" height="355" controls>
                <source src="/assets/video/features/diagnosis-treatment/decision/decision-home.mp4" type="video/mp4">
            </video>
         </div>
    </div>
</div>
