<div class="container">
    <p></p>
    <div class="row">
        <div class="col-3">
            <ul class="nav flex-column nav-pills" id="treatmentTab" role="tablist" aria-orientation="vertical">
                <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'treatmentHome'}"
                    (click)="setSubHrefTab('treatmentHome')">
                    <a class="nav-link active" id="treatmentHomeTab" data-toggle="pill" href="#treatmentHome" role="tab"
                        aria-controls="treatmentHome" aria-selected="true">
                        Treatment Home
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'noProblem'}"
                    (click)="setSubHrefTab('noProblem')">
                    <a class="nav-link" id="noProblemTab" data-toggle="pill" href="#noProblem" role="tab"
                        aria-controls="noProblem" aria-selected="false">
                        1. No Problem
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'mayBeSomeProblem'}"
                    (click)="setSubHrefTab('mayBeSomeProblem')">
                    <a class="nav-link" id="mayBeSomeProblemTab" data-toggle="pill" href="#mayBeSomeProblem" role="tab"
                        aria-controls="mayBeSomeProblem" aria-selected="false">
                        2. May be Some Problems
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'seriousProblem'}"
                    (click)="setSubHrefTab('seriousProblem')">
                    <a class="nav-link" id="seriousProblemTab" data-toggle="pill" href="#seriousProblem" role="tab"
                        aria-controls="seriousProblem" aria-selected="false">
                        3. Serious Problem
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="tab-content" id="treatmentTabContent">
                <div class="tab-pane fade show active" id="treatmentHome" role="tabpanel"
                    aria-labelledby="treatmentHomeTab" [ngClass]="{ 'active': currentSubHref === 'treatmentHome'}">
                    <treatment-home></treatment-home>
                </div>
                <div class="tab-pane fade" id="noProblem" role="tabpanel" aria-labelledby="noProblemTab"
                    [ngClass]="{ 'active': currentSubHref === 'noProblem'}">
                    <treatment-no-problem></treatment-no-problem>
                </div>
                <div class="tab-pane fade" id="mayBeSomeProblem" role="tabpanel" aria-labelledby="mayBeSomeProblemTab"
                    [ngClass]="{ 'active': currentSubHref === 'mayBeSomeProblem'}">
                    <treatment-may-be-some-problem></treatment-may-be-some-problem>
                </div>
                <div class="tab-pane fade" id="seriousProblem" role="tabpanel" aria-labelledby="seriousProblemTab"
                    [ngClass]="{ 'active': currentSubHref === 'seriousProblem'}">
                    <treatment-serious-problem></treatment-serious-problem>
                </div>
            </div>
        </div>
    </div>
</div>