<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Summary of Module 1
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <h5 class="definition-title">
                We just learned that:
            </h5>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <ul>
                <li>
                    The prostate plays an important role in men’s sexual health.
                </li>
                <li>
                    Prostatitis, BPH, and prostate cancer are the three main prostate problems that men may have during their lives.
                </li>
            </ul>
        </div>
        <div class="col-md">
            <ul>
                <li>
                    DRE and PSA are the main medical exams available to identify prostate problems.
                </li>
                <li>
                    There are several symptoms, including urination problems, blood in the urine, 
                    and pain in the genitals, that men should report to their doctors.
                </li>
            </ul>
        </div>
    </div>

    <div class="row margin-top-fifty">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="prostateImportanceSummaryPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="prostateImportanceSummaryStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>