<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-ambulance" aria-hidden="true"></i>
                    Treatment for Prostate Cancer
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <h4 class="definition-title">
                Treatment
            </h4>
            <p>
                Some people believe that all cancers will lead to pain and death,
                unless they are found early and are treated right away. This is true 
                in some, but not all, cases of cancer.
            </p>

            <p>
                What is surprising to many people is that most prostate cancers do not
                cause health problems and death. This may be hard to believe but we will
                discuss some facts you should be aware of.
            </p>
            
            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="treatmentHomePlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="treatmentHomeStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Image -->
        <div class="col-md text-center">
            <img src="/assets/img/features/diagnosis-treatment/treatment/treatment-home.png" width="300" height="322">
         </div>
    </div>
</div>