<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    Credits
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <p class="text-light-blue">
                This course is an adaptation, with permission from the authors, of the original website
                entitled <i>Prostate Cancer Screening: Making the Best Choice</i>. Taylor, KL, Williams, RM, Davis,
                KD, et al. (2013). Georgetown University Medical Center, Washington, DC. Patient Decision Aid
                available  at:
                <a href="http://prostatedecision.georgetown.edu/" target="_blank">http://prostatedecision.georgetown.edu/</a> .
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <p>
                <b class="credit-title">
                    Adaptation of Content and Images
                </b>
                <br/>
                <i class="text-dark-red">
                    <a href="https://xula.edu/staff-member-biography?staffId=margarita_echeverri__msc__phd" 
                        target="_blank" class="text-dark-red">
                        Margarita Echeverri, MSc, PhD, Principal Investigator
                    </a>
                </i>
            </p>
            <p>
                <b class="credit-title">
                    Editors and Narrators
                </b>
                <br/>
                <i class="text-dark-red">
                    Kyazia Felder, MPH, Research Assistant
                </i>    
                <br/>
                <i class="text-dark-red">
                    Jourdan B. Ferdinand, Narrator
                </i>
                <br/>
            </p>
            <p>
                <b class="credit-title">
                    Patient Advisory Board
                </b>
                <br/>
                <i class="text-dark-red">
                    Marc E. Johnson, JD, Chair
                </i>
                <br/>
                <i class="text-dark-red">
                    Kermit Givens | Kelvin Johnson | Alfred Polk
                </i>
            </p>
            <p>
                <b class="credit-title">
                    Software Architect
                </b>
                <br/>
                <i class="text-dark-red">
                    <a href="https://jasminemonquie.tech/" target="_blank" class="text-dark-red">Jasmine Monquie Lewis</a>,
                    <a href="https://www.igloonationtech.com/" target="_blank" class="text-dark-red">IglooNation Tech</a>
                </i>
            </p>
        </div>
        <div class="col-md">
            <p>
                <b class="credit-title">
                    Collaborator
                </b>
                <br/>
                <i class="text-dark-red">
                    <a href="https://gufaculty360.georgetown.edu/s/contact/00336000014RbvvAAC/kathryn-taylor" 
                        target="_blank" class="text-dark-red">
                        Kathryn L. Taylor, PhD, Georgetown University
                    </a>
                </i>
            </p>
            <p>
                <b class="credit-title">
                    Grant
                </b>
                <br/>
                <i class="text-dark-red">
                    <a href="https://taggs.hhs.gov/Detail/AwardDetail?arg_AwardNum=G12MD007595&arg_ProgOfficeCode=56" 
                        target="_blank" class="text-dark-red">
                        Research Centers of Minority Institutions (RCMI) grant number G12MD007595
                    </a>
                    <br/>
                    <a href="https://www.nimhd.nih.gov/" target="_blank" class="text-dark-red">
                        National Institute on Minority Health and Health Disparities
                    </a>
                </i>
            </p>
            <p>
                <b class="credit-title">
                    Institution &nbsp;
                </b> |
                <b class="credit-title">
                    &nbsp; July 2020
                </b>            
                <br/>
                <i class="text-dark-red">
                    <a href="https://www.xula.edu/" target="_blank" class="text-dark-red">Xavier University of Louisiana</a><br/>
                    <a href="https://www.xula.edu/collegeofpharmacy" target="_blank" class="text-dark-red">College of Pharmacy</a>
                </i>
            </p>
        </div>
    </div>
</div>
