<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
      <a class="navbar-brand" href="/home">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" 
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home"> 
              <i class="fa fa-home" aria-hidden="true"></i>
              {{ home}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prostate-importance">
              <i class="fa fa-bell" aria-hidden="true"></i>
              {{prostateImportance}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/risks-symptoms">
              <i class="fa fa-thermometer-full" aria-hidden="true"></i>
              {{risksSymptoms}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prostate-screening">
              <i class="fa fa-search-plus" aria-hidden="true"></i>
              {{prostateScreening}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/diagnosis-treatment">
              <i class="fa fa-medkit" aria-hidden="true"></i>
              {{diagnosisTreatment}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/best-choice">
              <i class="fa fa-check" aria-hidden="true"></i>
              {{bestChoice}}
            </a>
          </li>
        </ul>
      </div>
    </nav>
</header>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4 text-center">Prostate Cancer Screening</h1>
    <p class="text-center">Prostate Cancer Screnning: Making the Best Choice is an informational training to teach 
      visitors about the prostate’s relevance, cancer risks and prostate screening.
    </p>
  </div>
</div>