<div class="container">
    <p></p>
    <div class="row">
        <div class="col-3">
            <ul class="nav flex-column nav-pills" id="screeningQuestions" role="tablist" aria-orientation="vertical">
                <li class="nav-item waves-effect waves-light"
                    [ngClass]="{ 'active': currentSubHref === 'menGettingScreened'}"
                    (click)="setSubHrefTab('menGettingScreened')">
                    <a class="nav-link active" id="menGettingScreenedTab" data-toggle="pill" href="#menGettingScreened"
                        role="tab" aria-controls="menGettingScreened" aria-selected="true">
                        1. Getting Screened
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light"
                    [ngClass]="{ 'active': currentSubHref === 'menNotGettingScreened'}"
                    (click)="setSubHrefTab('menNotGettingScreened')">
                    <a class="nav-link" id="menNotGettingScreenedTab" data-toggle="pill" href="#menNotGettingScreened"
                        role="tab" aria-controls="menNotGettingScreened" aria-selected="false">
                        2. Not Getting Screened
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="tab-content" id="screeningQuestionsContent">
                <div class="tab-pane fade show active" id="menGettingScreened" role="tabpanel"
                    aria-labelledby="menGettingScreenedTab" [ngClass]="{ 'active': currentSubHref === 'menGettingScreened'}">
                    <getting-screened></getting-screened>
                </div>
                <div class="tab-pane fade" id="menNotGettingScreened" role="tabpanel"
                    aria-labelledby="menNotGettingScreenedTab" [ngClass]="{ 'active': currentSubHref === 'menNotGettingScreened'}">
                    <not-getting-screened></not-getting-screened>
                </div>
            </div>
        </div>
    </div>
</div>