<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
            Learning the Symptoms - None
        </h1>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-8">
            <h4 class="definition-title">
                Learn the Symptoms of Prostate Cancer
            </h4>
            <h4 class="problem-title margin-top-twenty">
                There may be <b>NO</b> symptoms
            </h4>

            <p> Most men who are diagnosed with prostate cancer have <b>no</b> symptoms. </p>

            <ul>
                <li>
                    You can have prostate cancer and not notice any problems.
                </li>
                <li>
                    Screening tests can detect cancer before there are symptoms.
                </li>
            </ul>

            <!-- Audio -->
            <div class="row margin-top-fifty">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="symptomsPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="symptomsStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>

        <!-- Image -->
        <div class="col-md-4 text-center">
            <div class="row">
                <img src="/assets/img/features/risks-symptoms/learn-symptoms/no-symptoms-white-male.png" width="220" height="150">
            </div>
            <div class="row">
                <img src="/assets/img/features/risks-symptoms/learn-symptoms/no-symptoms-indian-male.png" width="220" height="150">
            </div>
        </div>
    </div>
</div>