<div class="jumbotron">
    <div class="container">
      <hr />
      <p class="training-title">Prostate Cancer Screening</p>
      <p class="training-subtitle">Module 4: Diagnosis & Treatment</p>
      <hr />
    </div>
</div>

<div class="container">
    <div id="training-panel" class="card">
        <div class="card-header bg-primary text-white">
            <i class="fa fa-medkit" aria-hidden="true"></i>
            Module 4: Diagnosis & Treatment
        </div>
        <div class="card-body">
            <!-- Tabs -->
            <ul class="nav nav-pills nav-fill" id="diagnosisTreatment" role="tablist">
                <li class="nav-item waves-effect waves-light">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        Title
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light">
                    <a class="nav-link" id="-tab" data-toggle="tab" href="#diagnosis" role="tab"
                        aria-controls="diagnosis" aria-selected="false">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                        Diagnosis
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light">
                    <a class="nav-link" id="abnormal-tab" data-toggle="tab" href="#abnormal" role="tab"
                        aria-controls="abnormal" aria-selected="false">
                        <i class="fa fa-adjust" aria-hidden="true"></i>
                        Abnormal
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light">
                    <a class="nav-link" id="treatment-tab" data-toggle="tab" href="#treatment" role="tab"
                        aria-controls="treatment" aria-selected="false">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                        Treatment
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light">
                    <a class="nav-link" id="decisions-tab" data-toggle="tab" href="#decisions" role="tab"
                        aria-controls="decisions" aria-selected="false">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                        Decisions
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light">
                    <a class="nav-link" id="best-choice-questionaire-tab" data-toggle="tab" href="#best-choice-questionaire" role="tab" 
                      aria-controls="best-choice-questionaire" aria-selected="false">
                      <i class="fa fa-question-circle" aria-hidden="true"></i>
                      Questionaire
                    </a>
                  </li>
                <li class="nav-item waves-effect waves-light">
                    <a class="nav-link" id="summary-tab" data-toggle="tab" href="#summary" role="tab"
                        aria-controls="summary" aria-selected="false">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        Summary
                    </a>
                </li>
                <li class="nav-item waves-effect waves-light">
                    <a class="nav-link" id="credits-tab" data-toggle="tab" href="#credits" role="tab"
                        aria-controls="credits" aria-selected="false">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        Credits
                    </a>
                </li>
            </ul>

            <!-- Panels -->
            <div class="tab-content" id="diagnosisTreatmentContent">
                <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                   <diagnosis-treatment-home></diagnosis-treatment-home>
                </div>
                <div class="tab-pane fade" id="diagnosis" role="tabpanel" aria-labelledby="diagnosis-tab">
                    <diagnosis-treatment-prostate-cancer></diagnosis-treatment-prostate-cancer>
                </div>
                <div class="tab-pane fade" id="abnormal" role="tabpanel" aria-labelledby="abnormal-tab">
                    <abnormal-tests></abnormal-tests>
                </div>
                <div class="tab-pane fade" id="treatment" role="tabpanel" aria-labelledby="treatment-tab">
                    <treatment></treatment>
                </div>
                <div class="tab-pane fade" id="decisions" role="tabpanel" aria-labelledby="decisions-tab">
                    <decision></decision>
                </div>
                <div class="tab-pane fade" id="best-choice-questionaire" role="tabpanel"
                    aria-labelledby="best-choice-questionaire-tab">
                   <screening-for-you></screening-for-you>
                </div>
                <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                    <diagnosis-treatment-summary></diagnosis-treatment-summary>
                </div>
                <div class="tab-pane fade" id="credits" role="tabpanel" aria-labelledby="credits-tab">
                    <diagnosis-treatment-credits></diagnosis-treatment-credits>
                </div>
            </div>
        </div>
        <div class="card-footer bg-primary text-white"></div>
    </div>
</div>
  