<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                    Doctor Visit
                </h1>
            </div>

            <hr />

            <h5>Should I visit the doctor to check my prostate?</h5>

            <p class="definition-title">Health Exams</p>
            <p>
                Some men choose to get health exams each year, while other men choose to go to
                the doctor only when they have symptoms. Some men go to the doctor only when
                they feel very sick.
            </p>

            <p class="definition-title">Get a Prostate Exam</p>
            <p>
                Regardless of which group you are in, it is important that you are spending your
                time learning and making a decision about whether or not to get a prostate exam.
            </p>

            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="doctorVisitPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="doctorVisitStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md text-center margin-top-thirty">
            <img src="/assets/img/features/prostate-importance/doctor-visit/men.png" width="400" height="390">
        </div>
    </div>
</div>