<div class="container">
    <p></p>
    <div class="row">
        <div class="col-md-12">
            <p class="definition-title"><i>What if the screening results are abnormal?</i></p>

            Your doctor will review with you different reasons that a test may be abnormal:
            <ul>
                <li>
                    The results may be wrong
                </li>
                <li>
                    The abnormal results may be due to non-cancerous conditions such as an enlarged prostate 
                    <a href="#" data-toggle="modal" data-target="#prostatitisModal">(benign prostatic hyperplasia, or BPH)</a> 
                    or an inflamed or infected prostate 
                    <a href="#" data-toggle="modal" data-target="#prostatitisModal">(prostatitis)</a>.
                </li>
                <li>
                    You may have <a href="#" data-toggle="modal" data-target="#prostatitisModal">prostate cancer</a>
                </li>
            </ul>

            Regardless of the reasons, it will be necessary to have more tests to confirm results.
        </div>
    </div>

    <div class="row  margin-top-twenty">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="abnormalConditionsPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="abnormalConditionsStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>


<!-- Benign Prostatic Hyperplasia, Prostatitis, Prostate Cancer Modal -->
<div class="modal fade" id="prostatitisModal" tabindex="-1" role="dialog" aria-labelledby="prostatitisModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-success">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="modalTitle">Abnormal Conditions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="prostatitisStop()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <b>BPH:</b> BPH stands for benign prostatic hyperplasia, or an enlarged prostate. 
                    A prostate health problem that often occurs as men age.*
                </p>

                <p>
                    <b>Prostatitis:</b> Inflammation of the prostate. A common prostate health problem that 
                    is usually caused by an infection.*
                </p>

                <p>
                    <b>Prostate Cancer:</b> Begins when cells in the prostate gland start to grow out of control 
                    and form a cancerous tumor. **
                </p>


                <br />
                <p>* See Module 1, “The Importance of the Prostate”,  for additional information.</p>
                <p>** See Module 1, “The Importance of the Prostate”, and Module 2, “Risks and Symptoms”,  for additional information.                </p>
            </div>
            <div class="modal-footer">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="prostatitisPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal" (click)="prostatitisStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>