<div class="container">
  <p></p>
  <div class="row">
    <div class="col-3">
      <ul class="nav flex-column nav-pills" id="decisionsTab" role="tablist" aria-orientation="vertical">
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'decisionHome'}"
          (click)="setSubHrefTab('decisionHome')">
          <a class="nav-link active" id="decisionHomeTab" data-toggle="pill" href="#decisionHome" role="tab"
            aria-controls="decisionHome" aria-selected="true">
            Decision Home
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'watchAndWait'}"
          (click)="setSubHrefTab('watchAndWait')">
          <a class="nav-link" id="watchAndWaitTab" data-toggle="pill" href="#watchAndWait" role="tab"
            aria-controls="watchAndWait" aria-selected="false">
            1. Watch and Wait
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'activeTreatment'}"
          (click)="setSubHrefTab('activeTreatment')">
          <a class="nav-link" id="activeTreatmentTab" data-toggle="pill" href="#activeTreatment" role="tab"
            aria-controls="activeTreatment" aria-selected="false">
            2. Active Treatment
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'talkToYourDoctor'}"
          (click)="setSubHrefTab('talkToYourDoctor')">
          <a class="nav-link" id="talkToYourDoctorTab" data-toggle="pill" href="#talkToYourDoctor" role="tab"
            aria-controls="talkToYourDoctor" aria-selected="false">
            3. Talk to your Doctor
          </a>
        </li>
      </ul>
    </div>
    <div class="col-9">
      <div class="tab-content" id="decisionsTabContent">
        <div class="tab-pane fade show active" id="decisionHome" role="tabpanel" 
        aria-labelledby="decisionHomeTab" [ngClass]="{ 'active': currentSubHref === 'decisionHome'}">
          <decision-home></decision-home>
        </div>
        <div class="tab-pane fade" id="watchAndWait" role="tabpanel" 
        aria-labelledby="watchAndWaitTab" [ngClass]="{ 'active': currentSubHref === 'watchAndWait'}">
          <watch-and-wait></watch-and-wait>
        </div>
        <div class="tab-pane fade" id="activeTreatment" role="tabpanel" 
        aria-labelledby="activeTreatmentTab" [ngClass]="{ 'active': currentSubHref === 'activeTreatment'}">
          <active-treatment></active-treatment>
        </div>
        <div class="tab-pane fade" id="talkToYourDoctor" role="tabpanel" 
        aria-labelledby="talkToYourDoctorTab" [ngClass]="{ 'active': currentSubHref === 'talkToYourDoctor'}">
          <talk-to-your-doctor></talk-to-your-doctor>
        </div>
      </div>
    </div>
  </div>
</div>