<div class="container">
   <p></p>
   <div class="row">
     <div class="col-3">
       <div class="nav flex-column nav-pills" id="common-problems-tab" role="tablist" aria-orientation="vertical">
         <a class="nav-link active" id="common-problems-home-tab" data-toggle="pill" href="#common-problems-home" role="tab" 
            aria-controls="common-problems-home" aria-selected="true">
            <!-- <i class="fa fa-binoculars" aria-hidden="true"></i> -->
            Common Problems
         </a>
         <a class="nav-link" id="enlarged-prostate-tab" data-toggle="pill" href="#enlarged-prostate" role="tab" 
            aria-controls="enlarged-prostate" aria-selected="false">
            <!-- <i class="fa fa-th-large" aria-hidden="true"></i> -->
            1.
            Enlarged Prostate
         </a>
         <a class="nav-link" id="inflammation-tab" data-toggle="pill" href="#inflammation" role="tab" 
            aria-controls="inflammation" aria-selected="false">
            <!-- <i class="fa fa-fire" aria-hidden="true"></i> -->
            2.
            Inflammation
         </a>
         <a class="nav-link" id="tumors-cancer-tab" data-toggle="pill" href="#tumors-cancer" role="tab" 
            aria-controls="tumors-cancer" aria-selected="false">
            <!-- <i class="fa fa-snowflake-o" aria-hidden="true"></i> -->
            3.
            Tumors & Cancer
         </a>
       </div>
     </div>
     <div class="col-9">
       <div class="tab-content" id="common-problems-tabContent">
         <div class="tab-pane fade show active" id="common-problems-home" role="tabpanel" aria-labelledby="common-problems-home-tab">
            <common-problems-home></common-problems-home>
         </div>
         <div class="tab-pane fade" id="enlarged-prostate" role="tabpanel" aria-labelledby="enlarged-prostate-tab">
           <enlarged-prostate></enlarged-prostate>
         </div>
         <div class="tab-pane fade" id="inflammation" role="tabpanel" aria-labelledby="inflammation-tab">
            <inflammation></inflammation>
         </div>
         <div class="tab-pane fade" id="tumors-cancer" role="tabpanel" aria-labelledby="tumors-cancer-tab">
            <tumors-cancer></tumors-cancer>
         </div>
       </div>
     </div>
   </div>
 </div>