<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    Tumors that Grow Slowly
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <p class="definition-title">
                Most prostate tumors NEVER become a serious problem
            </p>
            
            <ul>
                <li>
                    Most <a href="#" data-toggle="modal" data-target="#tumor">tumors</a> grow slowly.
                    They usually don’t cause any symptoms during a man’s life and the man dies of something else.
                </li>
                <li>
                    Autopsies on men who have died from causes other than prostate cancer have shown that many 
                    men actually had prostate cancer and did not know it. For these men, prostate cancer had 
                    never become bothersome enough to be diagnosed.
                </li>
            </ul>

            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="treatmentNoProblemPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="treatmentNoProblemStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Video -->
        <!-- <div class="col-md-4 text-center">
            <video width="250" height="310" controls>
                <source src="/assets/video/diagnosis-treatment/treatment/prostate-tumor-no-problem.mp4" type="video/mp4">
            </video>
         </div> -->
    </div>
</div>

<!-- Tumor Modal -->
<div class="modal fade" id="tumor" tabindex="-1" role="dialog" aria-labelledby="tumorTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-success">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="modalTitle">Tumor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="tumorStop()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <b>Tumor:</b> 
                    A mass of tissue formed when cells in the body do not grow normally.
                    Tumors can be malignant (cancerous) or benign (not cancerous).
                </p>
                <p>
                    * See Module 1, “The Importance of the Prostate”,  for additional information.
                </p>
            </div>
            <div class="modal-footer">                
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="tumorPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal" (click)="tumorStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Close
                    </button> 
                </div>
            </div>
        </div>
    </div>
</div>