<div class="container">
  <p></p>
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="abnormal-tests-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="abnormal-tests-home-tab" data-toggle="pill" href="#abnormal-tests-home"
          role="tab" aria-controls="abnormal-tests-home" aria-selected="true">
          <i class="fa fa-adjust" aria-hidden="true"></i>
          Abnormal Tests
        </a>
        <a class="nav-link" id="new-blood-urine-tab" data-toggle="pill" href="#new-blood-urine" role="tab"
          aria-controls="new-blood-urine" aria-selected="false">
          <i class="fa fa-tint" aria-hidden="true"></i>
          New Blood & Urine
        </a>
        <a class="nav-link" id="trans-rectal-ultrasound-tab" data-toggle="pill" href="#trans-rectal-ultrasound"
          role="tab" aria-controls="trans-rectal-ultrasound" aria-selected="false">
          <i class="fa fa-asterisk" aria-hidden="true"></i>
          TRUS
        </a>
        <a class="nav-link" id="magnetic-resonance-imaging-tab" data-toggle="pill" href="#magnetic-resonance-imaging"
          role="tab" aria-controls="magnetic-resonance-imaging" aria-selected="false">
          <i class="fa fa-magnet" aria-hidden="true"></i>
          MRI
        </a>
        <a class="nav-link" id="biopsy-tab" data-toggle="pill" href="#biopsy" role="tab" aria-controls="biopsy"
          aria-selected="false">
          <i class="fa fa-cubes" aria-hidden="true"></i>
          Biopsy
        </a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="tabContent">
        <div class="tab-pane fade show active" id="abnormal-tests-home" role="tabpanel" aria-labelledby="abnormal-tests-home-tab">
          <abnormal-tests-home></abnormal-tests-home>
        </div>
        <div class="tab-pane fade" id="new-blood-urine" role="tabpanel" aria-labelledby="new-blood-urine-tab">
          <new-blood-urine-test></new-blood-urine-test>
        </div>
        <div class="tab-pane fade" id="trans-rectal-ultrasound" role="tabpanel" aria-labelledby="trans-rectal-ultrasound-tab">
          <transrectal-ultrasound-test></transrectal-ultrasound-test>
        </div>
        <div class="tab-pane fade" id="magnetic-resonance-imaging" role="tabpanel" aria-labelledby="magnetic-resonance-imaging-tab">
          <magnetic-resonance-imaging></magnetic-resonance-imaging>
        </div>
        <div class="tab-pane fade" id="biopsy" role="tabpanel" aria-labelledby="biopsy-tab">
          <biopsy></biopsy>
        </div>
      </div>
    </div>
  </div>
</div>