<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    Credits
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <p>
                This course is an adaptation, with permission from the authors, of the original website
                entitled 
                <i>
                    <a href="https://ebccp.cancercontrol.cancer.gov/programDetails.do?programId=24636940">
                        Prostate Cancer Screening: Making the Best Choice
                   </a>
                </i>.
                Taylor, KL, Williams, RM, Davis, KM, et al. (2013). Decision Making in Prostate Cancer 
                Screening: A Randomized Controlled Trial Comparing Two Decision Aids versus Usual Care.  
                JAMA Internal Medicine.  173(18):1704-1712.  
                PMCID: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3992617/">PMC3992617</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <p>
                <b class="credit-title">
                    Adaptation of Content and Images
                </b>
                <br/>
                <i class="text-dark-red">
                    <a href="https://www.xula.edu/directory//people/mechever.html" 
                        target="_blank" class="text-dark-red">
                        Margarita Echeverri, MSc, PhD, Principal Investigator
                    </a>
                </i>
            </p>
            <p>
                <b class="credit-title">
                    Editors and Narrators
                </b>
                <br/>
                <i>
                    <a href="https://beingmissunderstood.com/" target="_blank" class="text-dark-red">
                        Kyazia Felder, MPH, Research Assistant
                    </a>
                </i>    
                <br/>
                <i class="text-dark-red">
                    <a href="https://www.impeccablyit.com/" target="_blank" class="text-dark-red">
                        Jourdan B. Ferdinand, Narrator
                    </a>
                </i>
                <br/>
            </p>
            <p>
                <b class="credit-title">
                    Patient Advisory Board
                </b>
                <br/>
                <i class="text-dark-red">
                    Marc E. Johnson, JD, Chair
                </i>
                <br/>
                <i class="text-dark-red">
                    Kermit Givens | Kelvin Johnson | Alfred Polk
                </i>
            </p>
            <p>
                <b class="credit-title">
                    Patient Board
                </b>
                <br/>
                <i class="text-dark-red">
                    Glenn Barquet | Carol Henry | Edward Thomas
                </i>
            </p>
        </div>
        <div class="col-md">
            <p>
                <b class="credit-title">
                    Collaborator
                </b>
                <br/>
                <i class="text-dark-red">
                    <a href="https://gufaculty360.georgetown.edu/s/contact/00336000014RbvvAAC/kathryn-taylor" 
                        target="_blank" class="text-dark-red">
                        Kathryn L. Taylor, PhD, Georgetown University
                    </a>
                </i>
            </p>
            <p>
                <b class="credit-title">
                    Grant
                </b>
                <br/>
                <i class="text-dark-red">
                    <a href="https://www.nimhd.nih.gov/programs/extramural/research-centers/rcmi/" 
                        target="_blank" class="text-dark-red">
                        Research Centers of Minority Institutions (RCMI)
                    </a>
                    <br/>
                    <a href="https://www.nimhd.nih.gov/programs/" target="_blank" class="text-dark-red">
                        National Institute on Minority Health and Health Disparities
                    </a>
                </i>
            </p>
            <p>
                <b class="credit-title">
                    Institution &nbsp;
                </b> |
                <b class="credit-title">
                    &nbsp; July 2020
                </b>            
                <br/>
                <i class="text-dark-red">
                    <a href="https://www.xula.edu/mainabout" target="_blank" class="text-dark-red">Xavier University of Louisiana</a><br/>
                    <a href="https://www.xula.edu/collegeofpharmacy" target="_blank" class="text-dark-red">College of Pharmacy</a>
                </i>
            </p>
            <p>
                <b class="credit-title">
                    Software Architect
                </b>
                <br/>
                <i class="text-dark-red">
                    <a href="https://jasminemonquie.tech/" target="_blank" class="text-dark-red">Jasmine Monquie Lewis</a>,
                    <a href="http://www.igloonationtech.com/" target="_blank" class="text-dark-red">IglooNation Tech</a>
                </i>
            </p>
        </div>
    </div>
</div>