<div class="container-fluid">
  <div class="card-deck">
    <div class="card">
      <i class="fa fa-bell font-icons" aria-hidden="true"></i>
      <div class="card-body">
        <h4 class="card-title text-center">{{prostateImportance}}</h4>
        <p class="card-text text-center">The importance of prostate exams in men's health </p>
        <a href="/prostate-importance" class="btn btn-primary btn-block">View Module</a>
      </div>
    </div>
    <div class="card">
      <i class="fa fa-thermometer-full font-icons" aria-hidden="true"></i>
      <div class="card-body">
        <h4 class="card-title text-center">{{risksSymptoms}}</h4>
        <p class="card-text text-center">Review your risks and possible symptoms of prostate cancer</p>
        <a href="/risks-symptoms" class="btn btn-primary btn-block">View Module</a>
      </div>
    </div>
    <div class="card">
      <i class="fa fa-search-plus font-icons" aria-hidden="true"></i>
      <div class="card-body">
        <h4 class="card-title text-center">{{prostateScreening}}</h4>
        <p class="card-text text-center">Cancer screening helps find cancer at an early stage</p>
        <a href="/prostate-screening" class="btn btn-primary btn-block">View Module</a>
      </div>
    </div>
    <div class="card">
      <i class="fa fa-medkit font-icons" aria-hidden="true"></i>
      <div class="card-body">
        <h4 class="card-title text-center">{{diagnosisTreatment}}</h4>
        <p class="card-text text-center">Options, benefits and risk for screening and treatment</p>
        <a href="/diagnosis-treatment" class="btn btn-primary btn-block">View Module</a>
      </div>
    </div>
    <div class="card">
      <i class="fa fa-check font-icons" aria-hidden="true"></i>
      <div class="card-body">
        <h4 class="card-title text-center">{{bestChoice}}</h4>
        <p class="card-text text-center">Making an informed-decision about whether or not to be screening</p>
        <a href="/best-choice" class="btn btn-primary btn-block">View Module</a>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md">
        <button type="button" class="btn btn-outline-success btn-block" (click)="homePlay()">
          <i class="fa fa-play" aria-hidden="true"></i>
          Play Audio
        </button>
    </div>
    <div class="col-md">
        <button type="button" class="btn btn-outline-secondary btn-block" (click)="homeStop()">
          <i class="fa fa-stop" aria-hidden="true"></i>
          Stop Audio
      </button>
    </div>
</div>
</div>

