<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            Recommendations About PSA Screening
        </h1>
    </div>
    
    <hr/>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md-8">
            <p class="definition-title"><i>Research Studies</i></p>
            <p>
                Based on the research studies, medical organizations recommend that men discuss 
                the pros and cons of PSA screening with their healthcare providers.
            </p>

            <p>
                There is not full agreement about who should have the PSA test or when to begin screening.
            </p>

            <p class="definition-title"><i>Recommendations</i></p>
            <ul>
                <li>
                    In general, most organizations agree that men 50-69 years old should have these conversations with their providers.
                </li>
                <li>
                    However, for men in high risk groups (men with family history of prostate cancer and those of African 
                    American descent) it is recommended to begin screening earlier.
                </li>
            </ul>

            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="recommedationsPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="recommedationsStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>

        <!-- Image -->
        <div class="col-md-4 text-center">
            <img src="/assets/img/features/prostate-screening/recommendations/recommendations.png">
        </div>
    </div>
</div>
