<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    Making the Best Choice: Is screening right for you?
                </h1>
            </div>
            <hr />

            <h6 class="definition-name">
                Now take a few seconds to think about your OWN preferences.
            </h6>
            <p>
                Which of the following statements sounds like you?
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md radio-toolbar">
            <p>
                I understand that prostate cancer may never cause me problems.
                <b>
                    Even then, I prefer to be screened at this time so I can deal with the consequences
                    of prostate cancer as <em>early as possible</em>.
                </b>
            </p>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="earlyAsPossible" id="earlyaspossibleYes" value="Yes">
                <label class="form-check-label" for="earlyaspossibleYes">
                    Yes
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="earlyAsPossible" id="earlyaspossibleNo" value="No">
                <label class="form-check-label" for="earlyaspossibleNo">
                    No
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="earlyAsPossible" id="earlyaspossibleNotSureYet"
                    value="Not Sure Yet">
                <label class="form-check-label" for="earlyaspossibleNotSureYet">
                    Not Sure Yet
                </label>
            </div>
        </div>

        <div class="col-md radio-toolbar">
            <p>
               
                    Since prostate cancer may never cause me problems.
               <b>
                I think I am better off <em>not</em> getting screened.
               </b>
               
            </p>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="notGettingScreened" id="notGettingScreenedYes"
                    value="Yes">
                <label class="form-check-label" for="notGettingScreenedYes">
                    Yes
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="notGettingScreened" id="notGettingScreenedNo"
                    value="No">
                <label class="form-check-label" for="notGettingScreenedNo">
                    No
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="notGettingScreened" id="notGettingScreenedNotSureYet"
                    value="Not Sure Yet">
                <label class="form-check-label" for="notGettingScreenedNotSureYet">
                    Not Sure Yet
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="bestChoiceQuestionnairePlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="bestChoiceQuestionnaireStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>