<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Summary of Module 3
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <h5 class="definition-title">
                We just learned that:
            </h5>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <ul>
                <li>
                    Cancer screening looks for cancer before a person has any symptoms. It helps to find 
                    cancer at an early stage, when it is easier to treat.
                </li>
                <li>
                    The most common tests for prostate cancer screening are the PSA test (blood test) and the DRE (finger) exam. 
                </li>
                <li>
                    Since for some men a higher PSA level may be normal, there is not full agreement about what PSA level indicates 
                    the need for further testing.
                </li>
            </ul>
        </div>
        <div class="col-md">
            <ul>
                <li>
                    For men who choose to have the PSA test, getting normal results may give them peace of mind. However, 
                    men who receive abnormal results may be worried that they may have prostate cancer. They will need to 
                    undergo additional follow-up testing to know the diagnosis.
                </li>
                <li>
                    Ultimately, every man will have to make the best decision for their circumstances about whether
                    to be screened for prostate cancer.
                </li>
            </ul>
        </div>
    </div>

    <div class="row margin-top-thirty">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="prostateScreeningSummaryPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="prostateScreeningSummaryStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>