<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Summary of Module 4
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <h5 class="definition-title">
                We just learned that:
            </h5>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <ul>
                <li>
                    Making a decision about getting prostate cancer screening is only the first step. Depending on 
                    the results, you may be later faced with making other decisions about diagnosis and treatment,
                    if needed.
                </li>
                <li>
                    There are different tests to confirm the diagnosis of prostate cancer. Although biopsy is the 
                    most accurate test we have today, it is not 100% accurate.
                </li>
            </ul>
        </div>
        <div class="col-md">
            <ul>
                <li>
                    There are two main options to choose when diagnosed with prostate cancer: watchful waiting 
                    and active treatment. Each option has benefits and risks that should be considered.
                </li>
                <li>
                    While most prostate tumors NEVER become a serious problem, some tumors MAY cause illness and death.  
                </li>
                <li>
                    The decision to begin the journey of prostate cancer screening is a decision to make with your doctor!
                </li>
            </ul>
        </div>
    </div>

    <div class="row margin-top-fifty">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="diagnosisTreatmentSummaryPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="diagnosisTreatmentSummaryStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>