<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    Talk to your Doctor
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md-6">
            <p>
                Men need to understand both the advantages and disadvantages of prostate
                cancer treatment to make an informed decision about what is best for them.
            </p>
            
            <p>
                When choosing among watchful waiting or active treatment, it is important to discuss with your doctor:
            </p>

            <ul>
                <li>How advanced your prostate cancer is</li>
                <li>How healthy you are</li>
                <li>Your personal life values and expectations</li>
                <li>The pros and cons of each option you have</li>
                <li>Other points that matter to you the most</li>
            </ul>
            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="talkToYourDoctorPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="talkToYourDoctorStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Image -->
        <div class="col-md-6 text-center">
            <img src="/assets/img/diagnosis-treatment/decision/talk-to-your-doctor.jpg" class="img-fluid">
         </div>
    </div>
</div>
