<div class="container">
    <p></p>
    <div class="row">
        <div class="col-sm text-center">
            <img src="/assets/img/general/three-males.png" alt="Image - Three Males" style="width: 70%;">
        </div>
        <div class="col-md">
            <div id="module">
                <h1 id="module-title">MODULE 1</h1>
                <h3 id="module-sub-title">THE IMPORTANCE OF THE PROSTATE IN MEN'S HEALTH </h3>
                <br />
                <ul>
                    <li>What does the Prostate do?</li>
                    <li>How Important is the Prostate in Men's Health?</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md">
                    <img src="/assets/img/general/logos.png" alt="Image - Logos" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="prostateImportanceHomePlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="prostateImportanceHomeStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>