<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
            Age
        </h1>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg">
            <h4 class="definition-title">
                What increases your chance of having prostate cancer?
            </h4>
        </div>
    </div>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <h4 class="problem-title margin-top-twenty">
                Your Age
            </h4>

            <ul class="margin-top-twenty">
                <li>
                    The chance of having prostate cancer increases with age, particularly after age 50.
                </li>
                <li>
                    Most prostate cancers are diagnosed in men over 65. 
                </li>
            </ul>

            <div class="row margin-top-thirty">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="ageAudioPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="ageAudioStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>

        <!-- Image -->
        <div class="col-md text-center">
            <img src="/assets/img/features/risks-symptoms/risk-factors/age.png" width="250" height="250">
        </div>
    </div>
</div>