<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-bars" aria-hidden="true"></i>
            What is Cancer Screening?
        </h1>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg">
            <b class="definition-title"><i>Before Any Symptoms</i></b>
            <br />
            Cancer screening is when a doctor looks for cancer <i>before</i> a person has any symptoms.
        </div>
    </div>

    <div class="row margin-top-twenty">
        <div class="col-lg">
            <b class="definition-title"><i>Early Stage</i></b>
            <br />
             Cancer screening can help find cancer at an early stage.
            <ul>
                <li>When cancer is found early, it may be easier to treat.</li>
                <li>By the time symptoms appear, cancer may have begun to spread.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <b class="definition-title"><i>Module 3</i></b>
            <br />
                In this module you will understand better what is known and what is not known about screening for prostate cancer. 
                This information will help you to make an informed-decision about whether or not to be screened.
        </div>
    </div>

    <div class="row margin-top-ten">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="cancerScreeningPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="cancerScreeningStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>