<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Summary of Module 2
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <h5 class="definition-title">
                We just learned that:
            </h5>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <ul>
                <li>
                    Age, family history, and race are important risks factors for prostate cancer.
                </li>
                <li>
                    There are men who have prostate cancer and have no symptoms at all. Also, 
                    there are men who have prostate-related symptoms and do NOT have cancer.  
                </li>
            </ul>
        </div>
        <div class="col-md">
            <ul>
                <li>
                    Generally, urination problems and blood in the urine are the most common symptoms of prostate cancer.
                </li>
                <li>
                    Although having those symptoms does not mean you have prostate cancer, 
                    it is highly recommended to visit the doctor.
                </li>
            </ul>
        </div>
    </div>

    <div class="row margin-top-fifty">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="risksSymptomsSummaryPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="risksSymptomsSummaryStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>