<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-tag" aria-hidden="true"></i>
            The Risk Factors for Prostate Cancer
        </h1>
    </div>
    <hr />

    <!-- Text -->
    <div class="row">
        <div class="col-lg">
            <h4 class="definition-title">
                What increases your chance of having prostate cancer?
            </h4>
            <p>
                <img src="/assets/img/risks-symptoms/risk-factors/risk-factors-home.png" width="630" height="222">
            </p>
        </div>
    </div>

    <!-- Audio -->
    <div class="row">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="riskFactorsHomePlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="riskFactorsHomeStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>