<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-binoculars" aria-hidden="true"></i>
            Common Prostate Health Problems
        </h1>
    </div>
    
    <hr/>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <p>Here are three kinds of prostate problems that men may have during thier lifetimes:</p>
            <ol>
                <li>Enlarged Prostate</li>
                <li>Inflammation of the prostate</li>
                <li>Prostate Cancer</li>
            </ol>
            <p>
                It is important that men know about these problems so they can have better prostate health.
            </p>
            <!-- <p id="problem-details">
                Now, let's learn about each one of these problems in detail...
                <a class="nav-link" id="enlarged-prostate-tab" data-toggle="pill" href="#enlarged-prostate" role="tab" 
                    aria-controls="enlarged-prostate" aria-selected="false">
                 Enlarged Prostate
                </a>
            </p> -->
            <!-- <br /> -->
            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="commonProblemsHomePlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="commonProblemsHomeStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>

        <!-- Image -->
        <div class="col-md text-center">
           <img src="/assets/img//prostate-importance/common-problems/discuss-common-problems.jpg" 
            alt="Image - Discuss Common Problem" width="320" height="322">
        </div>
    </div>
</div>
