<div class="jumbotron">
  <div class="container">
    <hr />
    <p class="training-title">Prostate Cancer Screening</p>
    <p class="training-subtitle">Module 1: Importance of the Prostate</p>
    <hr />
  </div>
</div>

<div class="container">
  <div id="training-panel" class="card">
    <div class="card-header bg-primary text-white">
      <i class="fa fa-bell" aria-hidden="true"></i>
      Module 1: Importance of the Prostate
    </div>

    <div class="card-body">
      <ul class="nav nav-pills nav-fill" id="prostateImportance" role="tablist">
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': previousNextButtons.currentHref === 'title'}" 
          (click)="previousNextButtons.setHrefTab('title', 'titleTab')">
          <a class="nav-link active" id="titleTab" data-toggle="tab" href="#title" role="tab" aria-controls="title" aria-selected="true">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            Title
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': previousNextButtons.currentHref === 'prostate'}" 
          (click)="previousNextButtons.setHrefTab('prostate', 'prostateTab')">
          <a class="nav-link" id="prostateTab" data-toggle="tab" href="#prostate" role="tab" aria-controls="prostate" aria-selected="false">
            1.1 Prostate
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': previousNextButtons.currentHref === 'commonProblem'}" 
          (click)="previousNextButtons.setHrefTab('commonProblem', 'commonProblemTab')">
          <a class="nav-link" id="commonProblemTab" data-toggle="tab" href="#commonProblem" role="tab" aria-controls="commonProblem" aria-selected="false">
            1.2 Problems
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': previousNextButtons.currentHref === 'symptoms'}" 
          (click)="previousNextButtons.setHrefTab('symptoms', 'symptomsTab')">
          <a class="nav-link" id="symptomsTab" data-toggle="tab" href="#symptoms" role="tab" aria-controls="symptoms" aria-selected="false">
            1.3 Symptoms
          </a>
        </li>
        <li class="nav-item waves-effect waves-light"  [ngClass]="{ 'active': previousNextButtons.currentHref === 'visit'}" 
          (click)="previousNextButtons.setHrefTab('visit', 'visitTab')">
          <a class="nav-link" id="visitTab" data-toggle="tab" href="#visit" role="tab" aria-controls="visit" aria-selected="false">
            1.4 Visit
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': previousNextButtons.currentHref === 'prostateExam'}" 
          (click)="previousNextButtons.setHrefTab('prostateExam', 'prostateExamTab')">
          <a class="nav-link" id="prostateExamTab" data-toggle="tab" href="#prostateExam" role="tab"
            aria-controls="prostateExam" aria-selected="false">
            1.5 Exam
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': previousNextButtons.currentHref === 'bestChoiceQuestionnaire'}" 
          (click)="previousNextButtons.setHrefTab('bestChoiceQuestionnaire', 'bestChoiceQuestionnaireTab')">
          <a class="nav-link" id="bestChoiceQuestionnaireTab" data-toggle="tab" href="#bestChoiceQuestionnaire"
            role="tab" aria-controls="bestChoiceQuestionnaire" aria-selected="false">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            Questionnaire
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': previousNextButtons.currentHref === 'summary'}" 
          (click)="previousNextButtons.setHrefTab('summary', 'summaryTab')">
          <a class="nav-link" id="summaryTab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary"
            aria-selected="false">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            Summary
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': previousNextButtons.currentHref === 'credits'}" 
          (click)="previousNextButtons.setHrefTab('credits', 'creditsTab')">
          <a class="nav-link" id="creditsTab" data-toggle="tab" href="#credits" role="tab" aria-controls="credits"
            aria-selected="false">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            Credits
          </a>
        </li>
      </ul>

      <div class="tab-content" id="prostateImportanceContent">
        <div class="tab-pane fade active show" id="title" role="tabpanel" aria-labelledby="titleTab" 
          [ngClass]="{ 'active': previousNextButtons.currentHref === 'title'}">
          <prostate-importance-title></prostate-importance-title>
        </div>
        <div class="tab-pane fade" id="prostate" role="tabpanel" aria-labelledby="prostateTab" 
          [ngClass]="{ 'active': previousNextButtons.currentHref === 'prostate'}">
          <what-is-prostate></what-is-prostate>
        </div>
        <div class="tab-pane fade" id="commonProblem" role="tabpanel" aria-labelledby="commonProblemTab" 
          [ngClass]="{ 'active': previousNextButtons.currentHref === 'commonProblem'}">
          <common-problems></common-problems>
        </div>
        <div class="tab-pane fade" id="symptoms" role="tabpanel" aria-labelledby="symptomsTab" 
          [ngClass]="{ 'active': previousNextButtons.currentHref === 'symptoms'}">
          <symptoms></symptoms>
        </div>
        <div class="tab-pane fade" id="visit" role="tabpanel" aria-labelledby="visitTab" 
          [ngClass]="{ 'active': previousNextButtons.currentHref === 'visit'}">
          <doctor-visit></doctor-visit>
        </div>
        <div class="tab-pane fade" id="prostateExam" role="tabpanel" aria-labelledby="prostateExamTab" 
          [ngClass]="{ 'active': previousNextButtons.currentHref === 'prostateExam'}">
          <prostate-exams></prostate-exams>
        </div>
        <div class="tab-pane fade" id="bestChoiceQuestionnaire" role="tabpanel" aria-labelledby="bestChoiceQuestionnaireTab" 
          [ngClass]="{ 'active': previousNextButtons.currentHref === 'bestChoiceQuestionnaire'}">
          <best-choice-questionnaire></best-choice-questionnaire>
        </div>
        <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="summaryTab" 
          [ngClass]="{ 'active': previousNextButtons.currentHref === 'summary'}">
          <prostate-importance-summary></prostate-importance-summary>
        </div>
        <div class="tab-pane fade" id="credits" role="tabpanel" aria-labelledby="creditsTab" 
          [ngClass]="{ 'active': previousNextButtons.currentHref === 'credits'}">
          <prostate-importance-credits></prostate-importance-credits>
        </div>
      </div>
    </div>

    <div class="card-footer bg-primary text-white">
        <previous-next-buttons #previousNextButtons module="prostate-importance"></previous-next-buttons>
    </div>

    <!-- <div class="card-body">
      <ul class="nav nav-pills nav-fill" id="prostateImportance" role="tablist">
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': this.currentHref ==='title'}" (click)="this.setHrefTab('title', 'titleTab')">
          <a class="nav-link active" id="titleTab" data-toggle="tab" href="#title" role="tab" aria-controls="title" aria-selected="true">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            Title
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': this.currentHref ==='prostate'}" (click)="this.setHrefTab('prostate', 'prostateTab')">
          <a class="nav-link" id="prostateTab" data-toggle="tab" href="#prostate" role="tab" aria-controls="prostate" aria-selected="false">
            1.1 Prostate
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': this.currentHref ==='commonProblem'}" (click)="this.setHrefTab('commonProblem', 'commonProblemTab')">
          <a class="nav-link" id="commonProblemTab" data-toggle="tab" href="#commonProblem" role="tab" aria-controls="commonProblem" aria-selected="false">
            1.2 Problems
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': this.currentHref ==='symptoms'}" (click)="this.setHrefTab('symptoms', 'symptomsTab')">
          <a class="nav-link" id="symptomsTab" data-toggle="tab" href="#symptoms" role="tab" aria-controls="symptoms" aria-selected="false">
            1.3 Symptoms
          </a>
        </li>
        <li class="nav-item waves-effect waves-light"  [ngClass]="{ 'active': this.currentHref ==='visit'}" (click)="this.setHrefTab('visit', 'visitTab')">
          <a class="nav-link" id="visitTab" data-toggle="tab" href="#visit" role="tab" aria-controls="visit" aria-selected="false">
            1.4 Visit
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': this.currentHref ==='prostateExam'}" (click)="this.setHrefTab('prostateExam', 'prostateExamTab')">
          <a class="nav-link" id="prostateExamTab" data-toggle="tab" href="#prostateExam" role="tab" aria-controls="prostateExam" aria-selected="false">
            1.5 Exam
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': this.currentHref ==='bestChoiceQuestionnaire'}" (click)="this.setHrefTab('bestChoiceQuestionnaire', 'bestChoiceQuestionnaireTab')">
          <a class="nav-link" id="bestChoiceQuestionnaireTab" data-toggle="tab" href="#bestChoiceQuestionnaire" role="tab" aria-controls="bestChoiceQuestionnaire" aria-selected="false">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            Questionnaire
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': this.currentHref ==='summary'}" (click)="this.setHrefTab('summary', 'summaryTab')">
          <a class="nav-link" id="summaryTab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary"
            aria-selected="false">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            Summary
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': this.currentHref ==='credits'}" (click)="this.setHrefTab('credits', 'creditsTab')">
          <a class="nav-link" id="creditsTab" data-toggle="tab" href="#credits" role="tab" aria-controls="credits"
            aria-selected="false">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            Credits
          </a>
        </li>
      </ul>

      <div class="tab-content" id="prostateImportanceContent">
        <div class="tab-pane fade active show" id="title" role="tabpanel" aria-labelledby="titleTab"  [ngClass]="{ 'active': this.currentHref ==='title'}">
          <prostate-importance-title></prostate-importance-title>
        </div>
        <div class="tab-pane fade" id="prostate" role="tabpanel" aria-labelledby="prostateTab" [ngClass]="{ 'active': this.currentHref ==='prostate'}">
          <what-is-prostate></what-is-prostate>
        </div>
        <div class="tab-pane fade" id="commonProblem" role="tabpanel" aria-labelledby="commonProblemTab" [ngClass]="{ 'active': this.currentHref ==='commonProblem'}">
          <common-problems></common-problems>
        </div>
        <div class="tab-pane fade" id="symptoms" role="tabpanel" aria-labelledby="symptomsTab" [ngClass]="{ 'active': this.currentHref ==='symptoms'}">
          <symptoms></symptoms>
        </div>
        <div class="tab-pane fade" id="visit" role="tabpanel" aria-labelledby="visitTab"  [ngClass]="{ 'active': this.currentHref ==='visit'}">
          <doctor-visit></doctor-visit>
        </div>
        <div class="tab-pane fade" id="prostateExam" role="tabpanel" aria-labelledby="prostateExamTab" [ngClass]="{ 'active': this.currentHref === 'prostateExam'}">
          <prostate-exams></prostate-exams>
        </div>
        <div class="tab-pane fade" id="bestChoiceQuestionnaire" role="tabpanel" aria-labelledby="bestChoiceQuestionnaireTab" [ngClass]="{ 'active': this.currentHref === 'bestChoiceQuestionnaire'}">
          <best-choice-questionnaire></best-choice-questionnaire>
        </div>
        <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="summaryTab" [ngClass]="{ 'active': this.currentHref === 'summary'}">
          <prostate-importance-summary></prostate-importance-summary>
        </div>
        <div class="tab-pane fade" id="credits" role="tabpanel" aria-labelledby="creditsTab" [ngClass]="{ 'active': this.currentHref === 'credits'}">
          <prostate-importance-credits></prostate-importance-credits>
        </div>
      </div>
    </div>

    <div class="card-footer bg-primary text-white">
      <button type="button" class="btn btn-secondary float-right" (click)="next()">
        Next
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div> -->
    
  </div>
</div>