<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-align-left" aria-hidden="true"></i>
            Screening Test for Prostate Cancer
        </h1>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg">
            <b class="definition-title"><i>Learning Recap</i></b>
            <br/>

            <p class="margin-top-ten">As you learned before:</p>
            <ul>
                <li>
                    The PSA blood test is used to measure the Prostate Specific Antigen in a man’s body, 
                    and it is the test that is most often used to screen for prostate cancer.
                </li>
                <li>DRE (finger test) is a quick exam to check the prostate for hard or lumpy areas.</li>
                <li>
                    Older men, men with an enlarged prostate, or men of African American descent, may 
                    have higher PSA levels even when prostate cancer is not present. 
                </li>
                <li>
                    Some prostate glands produce more PSA than others. This means that some men will 
                    have higher PSA levels but will not have prostate cancer.
                </li>
            </ul>
        </div>
    </div>

    <div class="row margin-top-ten">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="screeningTestPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="screeningTestStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>
