<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-thermometer-quarter" aria-hidden="true"></i>
            Other Common Symptoms
        </h1>
    </div>

    <hr />

     <!-- -Text -->
     <div class="row">
        <div class="col-lg">
            <h5 class="definition-title">You should see your doctor if you have any of these symptons:</h5>
        </div>    
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <thead>
                  <tr class="table-primary">
                    <th class="text-center">Symptons</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Fever, chills, or body aches</td>
                  </tr>
                  <tr>
                    <td>Great discomfort or pain in your belly</td>
                  </tr>
                  <tr>
                    <td>Pain in the area between your scrotum and anus</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-sm">
            <table class="table">
                <thead>
                  <tr class="table-primary">
                    <th class="text-center">Symptons</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Pain in your penis or scrotum</td>
                  </tr>
                  <tr>
                    <td>Pain while urinating or after ejaculation</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-sm text-center">
            <table class="table">
              <thead>
                <tr class="table-primary">
                  <th class="text-center">Your Doctor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Your doctor will evaluate your symptoms and conduct a physical exam.
                    Your doctor may also order specific tests to confirm if you have a prostate problem.
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>

    <!-- Audio -->
    <div class="row">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block"(click)="symptomsPlay()">
              <i class="fa fa-play" aria-hidden="true"></i>
              Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="symptomsStop()">
              <i class="fa fa-stop" aria-hidden="true"></i>
              Stop Audio
            </button>
        </div>
    </div>
</div>