<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-male" aria-hidden="true"></i>
            Race
        </h1>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg">
            <h4 class="definition-title">
                What increases your chance of having prostate cancer?
            </h4>
        </div>
    </div>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md-8">
            <h4 class="problem-title">
                Your Race
            </h4>

            <ul>
                <li>
                    Prostate cancer is more common in African American men than in White men.
                </li>
                <li>
                    The death rate from prostate cancer is also higher for African American men.
                </li>
                <li>
                    It is less common in Hispanic, Asian, Pacific Islander, and Native American men than in white men. 
                    But they do also get prostate cancer.
                </li>
                <li>
                    Medical experts do not yet fully understand the causes of these differences.
                </li>
            </ul>

            <!-- Audio -->
            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="raceAudioPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="raceAudioStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>

        <!-- Image -->
        <div class="col-md-4">
            <div class="row">
                <img src="/assets/img/features/risks-symptoms/risk-factors/race-white-male.png" width="190" height="130">
            </div>
            <div class="row">
                <img src="/assets/img/features/risks-symptoms/risk-factors/race-black-male.png" width="190" height="130">
            </div>
        </div>
    </div>
</div>