<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                    Choice - Getting Screened
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>
                    First, read the following sentences and answer “Yes” or “No” for
                    each one, depending on whether the sentence sounds like you or not.
                </li>
                <li>
                    Then, look at all the sentences that you answered “Yes”.
                </li>
                <li>
                    If you have more <i>“Yes”</i> than <i>“No”</i> answers <i>you may lean more toward getting
                        screened.</i>
                </li>
            </ul>

            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="gettingScreenedPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="gettingScreenedStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12 table-responsive-lg">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Men who have made these statements often decide to get screened.
                        </th>
                        <th>
                            Yes
                        </th>
                        <th>
                            No
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Because the DRE and PSA are both medical exams available to diagnose prostate problems,
                            I prefer to have these exams routinely during my wellness visits.
                        </td>
                        <td class="radio-toolbar">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="examRoutinenly" id="examRoutinenlyYes" value="Yes">
                                <label class="form-check-label" for="examRoutinenlyYes">
                                    Yes
                                </label>
                            </div>
                        </td>
                        <td class="radio-toolbar">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="examRoutinenly" id="examRoutinenlyNo" value="No">
                                <label class="form-check-label" for="examRoutinenlyNo">
                                    No
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Because prostate cancer risk increases with age and can become a very serious disease
                            if not discovered early, I prefer to be screened regularly.
                        </td>
                        <td class="radio-toolbar">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="examRegularly" id="examRegularlyYes" value="Yes">
                                <label class="form-check-label" for="examRegularlyYes">
                                    Yes
                                </label>
                            </div>
                        </td>
                        <td class="radio-toolbar">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="examRegularly" id="examRegularlyNo" value="No">
                                <label class="form-check-label" for="examRegularlyNo">
                                    No
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            I understand that screening may or may not help to save my life. Even so,
                            I prefer to get screened because I think it is better to be safe than sorry.
                        </td>
                        <td class="radio-toolbar">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="examSafeThanSorry" id="examSafeThanSorryYes" value="Yes">
                                <label class="form-check-label" for="examSafeThanSorryYes">
                                    Yes
                                </label>
                            </div>
                        </td>
                        <td class="radio-toolbar">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="examSafeThanSorry" id="examSafeThanSorryNo" value="No">
                                <label class="form-check-label" for="examSafeThanSorryNo">
                                    No
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            I understand that prostate cancer may never cause me problems. Even then,
                            I prefer to be screened at this time so I can deal with the consequences of
                            prostate cancer as early as possible.
                        </td>
                        <td class="radio-toolbar">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="examEarlyAsPossible" id="examEarlyAsPossibleYes" value="Yes">
                                <label class="form-check-label" for="examEarlyAsPossibleYes">
                                    Yes
                                </label>
                            </div>
                        </td>
                        <td class="radio-toolbar">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="examEarlyAsPossible" id="examEarlyAsPossibleNo" value="No">
                                <label class="form-check-label" for="examEarlyAsPossibleNo">
                                    No
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            Screening may lead to being diagnosed with prostate cancer. I will need to
                            accept living with untreated cancer, or the side effects of treatment. Still,
                            I would prefer to routinely have screenings for the possibility of more treatment options
                            and a longer
                            life.
                        </td>
                        <td class="radio-toolbar">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="treatmentOptions" id="treatmentOptionsYes" value="Yes">
                                <label class="form-check-label" for="treatmentOptionsYes">
                                    Yes
                                </label>
                            </div>
                        </td>
                        <td class="radio-toolbar">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="treatmentOptions" id="treatmentOptionsNo" value="No">
                                <label class="form-check-label" for="treatmentOptionsNo">
                                    No
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>