/*#region Banner */
.jumbotron {
    background-color: #FFC530 !important;
    text-align: center;
    padding-bottom: 1px !important;
    padding-top: 55px !important;
    margin-bottom: 2px !important; 
}
/*#endregion Banner */

/*#region  Override Boostrap Colors */

/** Background **/
.bg-primary {
    background-color: #00AB87 !important;
}
  
a.bg-primary:hover, a.bg-primary:focus,
  button.bg-primary:hover,
  button.bg-primary:focus {
    background-color: #00AB87 !important;
}
/*#endregion Override Boostrap Colors */