<div class="container">
    <p></p>
    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md-12">
            <p class="definition-title"><i>How accurate is the PSA test?</i></p>

            <video controls class="embed-responsive embed-responsive embed-responsive-16by9">
                <source src="/assets/video/prostate-screening/steps/step-two-example-psa-test.mp4" type="video/mp4">
            </video>

            <p>
                As you can see in this example, screening may give an abnormal result with cancer is not present.
                It may also give a normal result when cancer is present.
            </p>

            <p>
                *Data in this example may be different from what is most up to date.*
            </p>

            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="examplePsaTestPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="examplePsaTestStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>