<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-scissors" aria-hidden="true"></i>
                    Prostate Surgery
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md">
            <p class="definition-title">Let’s listen to Al’s story </p>
            <video width="352" height="320" controls>
                <source src="/assets/video/features/best-choice/choice/prostate-surgery-al.mp4" type="video/mp4">
            </video>
        </div>

        <div class="col-md">
            <p class="definition-title">Let’s listen to Bob's story </p>
            <video width="352" height="320" controls>
                <source src="/assets/video/features/best-choice/choice/prostate-surgery-bob.mp4" type="video/mp4">
            </video>
         </div>
    </div>
</div>