<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Is screening right for you?
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <p>
                If you are faced with making decisions about the diagnosis or treatment
                of prostate cancer,  it may help to hear how other men have made their
                decisions.
            </p>
            
            <p>
                Let’s listen to these men diagnosed with prostate cancer who opted for
                watchful waiting and prostate surgery.
            </p>
            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="screeningForYouPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="screeningForYouStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>