<div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="title">
          <h1 class="problem-title">
            <i class="fa fa-search" aria-hidden="true"></i>
            Choice - Not Getting Screened
          </h1>
        </div>
        <hr />
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            Now, read the following sentences and answer “Yes” or “No”
            for each one, depending on whether the sentence sounds like
            you or not.
          </li>
          <li>
            Then, look at all the sentences that you answered “Yes”.
          </li>
          <li>
            If you have more <i>“Yes”</i> than <i>“No”</i> answers <i>you may 
            lean more toward NOT getting screened.</i>
          </li>
        </ul>
  
        <div class="row">
          <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="notGettingScreenedPlay()">
              <i class="fa fa-play" aria-hidden="true"></i>
              Play Audio
            </button>
          </div>
          <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="notGettingScreenedStop()">
              <i class="fa fa-stop" aria-hidden="true"></i>
              Stop Audio
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <br />
    
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Men who have made these statements often decide NOT to get screened.
              </th>
              <!-- <th>
                Yes
              </th>
              <th>
                No
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Although DRE and PSA are both medical exams available to identify
                prostate problems, I prefer to wait to have these tests later or to
                make a decision later about whether to have these tests.
              </td>
              <!-- <td></td>
              <td></td> -->
            </tr>
            <tr>
              <td>
                If I am not at high risk for prostate cancer, it does not make sense
                to me to be screened for prostate cancer.
              </td>
              <!-- <td></td>
              <td></td> -->
            </tr>
            <tr>
              <td>
                I understand that screening may or may not help to save my life. I
                also understand that screening may give a false result. I think I
                am better off not getting screened.
              </td>
              <!-- <td></td>
              <td></td> -->
            </tr>
            <tr>
              <td>
                Since prostate cancer may never cause me problems, I think I am
                better off not getting screened.
              </td>
              <!-- <td></td>
              <td></td> -->
            </tr>
            <tr>
              <td>
                Screening may lead to being diagnosed with prostate cancer. I will
                need to accept living with untreated cancer, or the side effects of 
                treatment. These consequences are not worth the possibility of more 
                treatment options and a longer life. Currently, I prefer not to be 
                screened.
              </td>
              <!-- <td></td>
              <td></td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>