<div class="container">
    <p></p>
    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md-12">
            <p class="definition-title"><i>How accurate is the PSA test?</i></p>

            <p>
                Unfortunately, PSA tests, like all tests, are not totally accurate. They can 
                produce “False Positive” or “False Negative” results.
            </p>

            <img src="/assets/img/prostate-screening/steps/step-two-false-positive-results.png" class="img-fluid"
                width="350" height="370">
            <img src="/assets/img/prostate-screening/steps/step-two-false-negative-results.png" class="img-fluid"
                width="350" height="370">

            <p></p>

            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="accuracyPsaTestPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="accuracyPsaTestStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>