<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-snowflake-o" aria-hidden="true"></i> 
            Tumors & Cancer
        </h1>
    </div>

    <hr />

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <p>
                <b>Cancer</b> occurs when prostate cells do not grow normally. The cells divide
                and create new cells that the body does not need.
            </p>

            <p>
                These cells form a mass of tissue called a <b>tumor</b>.
            </p>

            <ul>
                <li>Tumors can be malignant (cancerous) or benign (not cancerous).</li>
                <li>Malignant cancer tumors are those that grow fast and may spread elsewhere in the body.</li>
            </ul>
        </div>

        <!-- Video -->
        <div class="col-md text-center embed-responsive embed-responsive-4by3">
            <video width="420" height="310" controls>
                <source src="/assets/video/prostate-importance/tumors-cancer/tumors-cancer.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>