<div class="container">
    <p></p>
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                    Diagnosis and Treatment of Prostate Cancer
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <h4 class="definition-title">
                Diagnosis
            </h4>
            <ul>
                <li>Diagnosis is looking at the symptoms and signs to identify which disease or medical condition a
                    person may have.
                    <ul>
                        <li>
                            When making a diagnosis, the doctor may perform medical examinations and order tests
                            that help to identify the disease.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md">
            <h4 class="definition-title">
                Treatment
            </h4>
            <ul>
                <li>Treatment is the care of a patient to cure or control the disease.
                    <ul>
                        <li>
                            Treatments are decided by taking in account different factors, such as the type of disease,
                            the patient’s preferences, the available science, and costs associated among other factors.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <h4 class="definition-title">
                Module
            </h4>
            <p>
                In this module, you will learn what is known and what is not known about the diagnosis
                and treatment of prostate cancer. This information will help you make an informed-decision
                about whether or not to be screened.
            </p>
        </div>
    </div>

    <div class="row margin-top-twenty">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block"
                (click)="diagnosisTreatmentProstateCancerPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block"
                (click)="diagnosisTreatmentProstateCancerStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>