/*#region Modules */
.font-icons {
    font-size: 90px;
    color:#008000;; 
    text-align: center;
}

/*#endregion Modules */

/*#region Banner */
.jumbotron {
    background-color: #ffffe2 !important;
    text-align: center;
    min-height: 700px; 
    padding-bottom: 0px !important;
    margin-bottom: 2px !important;
}

#jumbotron-text {
    position: relative;
    top: 100px;
}

#welcome {
    font-size: 30px;
}

#prostate-screening {
    font-size: 70px;
    color: #0275d8;
}

#best-choice {
    font-size: 70px;
    font-weight: bold;
    color: #008000;;
}

hr.line{
    border: 1px solid #DCDCDC;
}

/*#endregion Banner */