<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div id="jumbotron-text">
        <div id="welcome">WELCOME TO</div>
  
        <hr class="line">
        <div id="prostate-screening">Prostate Cancer Screening:</div>
        <div id="best-choice">Making the Best Choice</div>
        <hr class="line">
  
        <p class="lead">
          Prostate Cancer Screening is a training to learn about cancer risks,
          and pros-cons of screening for early detection of prostate cancer.
        </p>
  
        <a type="button" class="btn btn-primary btn-lg btn-block" href="/prostate-importance">Start Training</a>
      </div>
    </div>
</div>
  
  
  <div class="container-fluid">
    <div class="card-deck">
      <div class="card">
        <i class="fa fa-bell font-icons" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title text-center">1. {{prostateImportance}}</h5>
          <p class="card-text text-center">The importance of prostate exams in men's health </p>
          <a href="/prostate-importance" class="btn btn-primary btn-block">View Module</a>
        </div>
      </div>
  
      <div class="card-area">
        <div class="card border-0">
          <div class="card-body"></div>
        </div>
      </div>
  
      <div class="card">
        <i class="fa fa-thermometer-full font-icons" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title text-center">2. {{risksSymptoms}}</h5>
          <p class="card-text text-center">Review your risks and possible symptoms of prostate cancer</p>
          <a href="/risks-symptoms" class="btn btn-primary btn-block">View Module</a>
        </div>
      </div>
  
      <div class="card-area">
        <div class="card border-0">
          <div class="card-body"></div>
        </div>
      </div>
  
      <div class="card">
        <i class="fa fa-search-plus font-icons" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title text-center">3. {{prostateScreening}}</h5>
          <p class="card-text text-center">Cancer screening helps find cancer at an early stage</p>
          <a href="/prostate-screening" class="btn btn-primary btn-block">View Module</a>
        </div>
      </div>
    </div>
  
    <div class="card-deck">
      <div class="col-sm-2 card border-0">
        <div class="card-body">
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <i class="fa fa-medkit font-icons" aria-hidden="true"></i>
          <div class="card-body">
            <h5 class="card-title text-center">4. {{diagnosisTreatment}}</h5>
            <p class="card-text text-center">Options, benefits and risk for screening and treatment</p>
            <a href="/diagnosis-treatment" class="btn btn-primary btn-block">View Module</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <i class="fa fa-check font-icons" aria-hidden="true"></i>
          <div class="card-body">
            <h5 class="card-title text-center">5. {{bestChoice}}</h5>
            <p class="card-text text-center">Making an informed-decision about whether or not to be screened</p>
            <a href="/best-choice" class="btn btn-primary btn-block">View Module</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md">
        <button type="button" class="btn btn-outline-success btn-block" (click)="homePlay()">
          <i class="fa fa-play" aria-hidden="true"></i>
          Play Audio
        </button>
      </div>
      <div class="col-md">
        <button type="button" class="btn btn-outline-secondary btn-block" (click)="homeStop()">
          <i class="fa fa-stop" aria-hidden="true"></i>
          Stop Audio
        </button>
      </div>
    </div>
  </div>