<div class="container">
  <p></p>
  <div class="row">
    <div class="col-3">
      <ul class="nav flex-column nav-pills" id="screeningTab" role="tablist" aria-orientation="vertical">
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'cancerScreening'}"
          (click)="setSubHrefTab('cancerScreening')">
          <a class="nav-link active" id="cancerScreeningTab" data-toggle="pill" href="#cancerScreening" role="tab"
            aria-controls="cancerScreening" aria-selected="true">
            Cancer Screening
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'screeningTest'}"
          (click)="setSubHrefTab('screeningTest')">
          <a class="nav-link" id="screeningTestTab" data-toggle="pill" href="#screeningTest" role="tab"
            aria-controls="screeningTest" aria-selected="false">
            1. Screening Tests
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'screeningForCancer'}"
          (click)="setSubHrefTab('screeningForCancer')">
          <a class="nav-link" id="screeningForCancerTab" data-toggle="pill" href="#screeningForCancer" role="tab"
            aria-controls="screeningForCancer" aria-selected="false">
            2. Screening For Cancer
          </a>
        </li>
      </ul>
    </div>
    <div class="col-9">
      <div class="tab-content" id="screeningTabContent">
        <div class="tab-pane fade show active" id="cancerScreening" role="tabpanel" aria-labelledby="cancerScreeningTab"
          [ngClass]="{ 'active': currentSubHref === 'cancerScreening'}">
          <cancer-screening></cancer-screening>
        </div>
        <div class="tab-pane fade" id="screeningTest" role="tabpanel" aria-labelledby="screeningTestTab"
          [ngClass]="{ 'active': currentSubHref === 'screeningTest'}">
          <screening-test></screening-test>
        </div>
        <div class="tab-pane fade" id="screeningForCancer" role="tabpanel" aria-labelledby="screeningForCancerTab"
          [ngClass]="{ 'active': currentSubHref === 'screeningForCancer'}">
          <screening-for-cancer></screening-for-cancer>
        </div>
      </div>
    </div>
  </div>
</div>