<div class="container">
    <p></p>
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="screening-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="cancer-screening-tab" data-toggle="pill" href="#cancer-screening" role="tab" 
             aria-controls="cancer-screening" aria-selected="true">
              Cancer Screening
          </a>
          <a class="nav-link" id="screening-test-tab" data-toggle="pill" href="#screening-test" role="tab" 
             aria-controls="screening-test" aria-selected="false">
              1. Screening Tests
          </a>
          <a class="nav-link" id="screening-for-cancer-tab" data-toggle="pill" href="#screening-for-cancer" role="tab" 
             aria-controls="screening-for-cancer" aria-selected="false">
             2. Screening For Cancer
          </a>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="screeningTabContent">
          <div class="tab-pane fade show active" id="cancer-screening" role="tabpanel" aria-labelledby="cancer-screening-tab">
            <cancer-screening></cancer-screening>
          </div>
          <div class="tab-pane fade" id="screening-test" role="tabpanel" aria-labelledby="screening-test-tab">
           <screening-test></screening-test>
          </div>
          <div class="tab-pane fade" id="screening-for-cancer" role="tabpanel" aria-labelledby="screening-for-cancer-tab">
            <screening-for-cancer></screening-for-cancer>
          </div>
        </div>
      </div>
    </div>
  </div>
