<div class="container">
  <p></p>
  <div class="row">
    <div class="col-3">
      <ul class="nav flex-column nav-pills" id="steps" role="tablist" aria-orientation="vertical">
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'stepsHome'}"
          (click)="setSubHrefTab('stepsHome')">
          <a class="nav-link active" id="stepsHomeTab" data-toggle="pill" href="#stepsHome" role="tab"
            aria-controls="stepsHome" aria-selected="true">
            Steps
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'stepOne'}"
          (click)="setSubHrefTab('stepOne')">
          <a class="nav-link" id="stepOneTab" data-toggle="pill" href="#stepOne" role="tab" aria-controls="stepOne"
            aria-selected="false">
            1. Step One
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'stepTwo'}"
          (click)="setSubHrefTab('stepTwo')">
          <a class="nav-link" id="stepTwoTab" data-toggle="pill" href="#stepTwo" role="tab" aria-controls="stepTwo"
            aria-selected="false">
            2. Step Two
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" [ngClass]="{ 'active': currentSubHref === 'stepThree'}"
          (click)="setSubHrefTab('stepThree')">
          <a class="nav-link" id="stepThreeTab" data-toggle="pill" href="#stepThree" role="tab"
            aria-controls="stepThree" aria-selected="false">
            3. Step Three
          </a>
        </li>
      </ul>
    </div>
    <div class="col-9">
      <div class="tab-content" id="stepsTabContent">
        <!-- Steps Home -->
        <div class="tab-pane fade show active" id="stepsHome" role="tabpanel" aria-labelledby="stepsHomeTab"
          [ngClass]="{ 'active': currentSubHref === 'stepsHome'}">
          <steps-home></steps-home>
        </div>

        <!-- Step One -->
        <div class="tab-pane fade" id="stepOne" role="tabpanel" aria-labelledby="stepOneTab"
          [ngClass]="{ 'active': currentSubHref === 'stepOne'}">
          <step-one></step-one>
        </div>

        <!-- Step Two -->
        <div class="tab-pane fade" id="stepTwo" role="tabpanel" aria-labelledby="stepTwoTab"
          [ngClass]="{ 'active': currentSubHref === 'stepTwo'}">
          <div class="title">
            <h1 class="problem-title">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
              Step 2: Get the Results
            </h1>
          </div>
          <hr />

          <ul class="nav nav-tabs" id="stepsTwoTab" role="tablist" aria-orientation="horizontal">
            <li class="nav-item waves-effect waves-light">
            <a class="nav-link active bg-secondary text-white" id="getTheResultsTab" data-toggle="pill" 
            href="#getTheResults"
              role="tab" aria-controls="getTheResults" aria-selected="true">
              2.1 Get the Results
            </a>
            </li>
            <li class="nav-item waves-effect waves-light">
            <a class="nav-link bg-secondary text-white" id="accuracyOfPsaTestTab" data-toggle="pill" 
            href="#accuracyOfPsaTest" role="tab"
              aria-controls="accuracyOfPsaTest" aria-selected="false">
              2.2 Accuracy of PSA Test
            </a>
            </li>
            <li class="nav-item waves-effect waves-light">
            <a class="nav-link bg-secondary text-white" id="exampleOfPsaAccuracyTab" data-toggle="pill" 
            href="#exampleOfPsaAccuracy" role="tab"
              aria-controls="exampleOfPsaAccuracy" aria-selected="false">
              2.3 Example of PSA Accuracy
            </a>
            </li>
          </ul>

          <div class="tab-content" id="stepsTwoTabContent">
            <div class="tab-pane fade show active" id="getTheResults" role="tabpanel">
              <get-the-results></get-the-results>
            </div>
            <div class="tab-pane fade" id="accuracyOfPsaTest" role="tabpanel">
              <accuracy-psa-test></accuracy-psa-test>
            </div>
            <div class="tab-pane fade" id="exampleOfPsaAccuracy" role="tabpanel">
              <example-psa-test></example-psa-test>
            </div>
          </div>
        </div>

        <!-- Step Three -->
        <div class="tab-pane fade" id="stepThree" role="tabpanel" aria-labelledby="stepThreeTab"
          [ngClass]="{ 'active': currentSubHref === 'stepThree'}">
          <div class="title">
            <h1 class="problem-title">
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              Step 3: Discuss Results with Your Doctor
            </h1>
          </div>
          <hr />

          <ul class="nav nav-tabs" id="stepsThreeTab" role="tablist" aria-orientation="horizontal">
            <li class="nav-item waves-effect waves-light">
            <a class="nav-link active bg-secondary text-white" id="discussingResultsTab" data-toggle="pill" href="#discussingResults"
              role="tab" aria-controls="discussingResults" aria-selected="true">
              3.1 Discussing Results
            </a>
            </li>
            <li class="nav-item waves-effect waves-light">
            <a class="nav-link bg-secondary text-white" id="abnormalResultsTab" data-toggle="pill" href="#abnormalResults" role="tab"
              aria-controls="abnormalResults" aria-selected="false">
              3.2 Abnormal Results
            </a>
            </li>
            <li class="nav-item waves-effect waves-light">
            <a class="nav-link bg-secondary text-white" id="referralToUrologistTab" data-toggle="pill" href="#referralToUrologist" role="tab"
              aria-controls="referralToUrologist" aria-selected="false">
              3.3 Referral to Urologist
            </a>
            </li>
          </ul>

          <div class="tab-content" id="stepsThreeTabContent">
            <div class="tab-pane fade show active" id="discussingResults" role="tabpanel">
              <discussing-results></discussing-results>
            </div>
            <div class="tab-pane fade" id="abnormalResults" role="tabpanel">
              <abnormal-results></abnormal-results>
            </div>
            <div class="tab-pane fade" id="referralToUrologist" role="tabpanel">
              <referral-to-urologist></referral-to-urologist>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>