<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Summary of Module 5
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <h5 class="definition-title">
                We just learned that:
            </h5>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <ul>
                <li>
                    Regardless of your prostate cancer risks, as a man you will be faced with making the decision about screening for prostate cancer.
                </li>
                <li>
                    There is no right or wrong decision regardless of if you choose or not to be screened.
                </li>
            </ul>
        </div>
        <div class="col-md">
            <ul>
                <li>
                    The best choice you can make today is to learn, ask questions, and discuss
                    these issues with your doctor and with the people important in your life.
                </li>
                <li>
                    The decision to begin the journey of prostate cancer screening is yours to make!
                </li>
            </ul>
        </div>
    </div>

    <div class="row margin-top-fifty">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="bestChoiceSummaryPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="bestChoiceSummaryStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>