<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    Making the Best Choice: Is screening right for you?
                </h1>
            </div>
            <hr />

            <h6 class="definition-name">
                Now take a few seconds to think about your OWN preferences.
            </h6>
            <p>
                Which of the following statements sounds like you?
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md radio-toolbar">
            <p>
                Because prostate cancer risk increases with age and can become a very serious disease if not discovered
                early,
                <b>
                    I prefer to be screened regularly.
                </b>
            </p>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="screenRegularly" id="screenRegularlyYes" value="Yes">
                <label class="form-check-label" for="screenRegularlyYes">
                    Yes
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="screenRegularly" id="screenRegularlyNo" value="No">
                <label class="form-check-label" for="screenRegularlyNo">
                    No
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="screenRegularly" id="screenRegularlyNotSureYet"
                    value="Not Sure Yet">
                <label class="form-check-label" for="screenRegularlyNotSureYet">
                    Not Sure Yet
                </label>
            </div>
        </div>

        <div class="col-md radio-toolbar">
            <p>
                Even though I may be at high risk for prostate cancer,
                <b>
                    it does make sense to me to be screened for prostate cancer.
                </b>
            </p>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="makeSenseScreen" id="makeSenseScreenYes" value="Yes">
                <label class="form-check-label" for="makeSenseScreenYes">
                    Yes
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="makeSenseScreen" id="makeSenseScreenNo" value="No">
                <label class="form-check-label" for="makeSenseScreenNo">
                    No
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="makeSenseScreen" id="makeSenseScreenNotSureYet"
                    value="Not Sure Yet">
                <label class="form-check-label" for="makeSenseScreenNotSureYet">
                    Not Sure Yet
                </label>
            </div>
        </div>
    </div>

    <div class="row  margin-top-twenty">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="riskSymptomsPreferencesPlay()">
                <i class="fa fa-play" aria-hidden="true"></i>
                Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="riskSymptomsPreferencesStop()">
                <i class="fa fa-stop" aria-hidden="true"></i>
                Stop Audio
            </button>
        </div>
    </div>
</div>