<div class="container">
    <div class="title">
        <h1 class="problem-title">
            <i class="fa fa-tint" aria-hidden="true"></i>
            Urine Related Symptons
        </h1>
    </div>

    <hr />

    <!-- -Text -->
    <div class="row">
        <div class="col-lg">
            <h5 class="definition-title">You should see your doctor if you have any of these symptons:</h5>
        </div>    
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <thead>
                  <tr class="table-primary">
                    <th class="text-center">Symptons</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        A weak urine stream
                    </td>
                  </tr>
                  <tr>
                    <td>Urine that has an unsusal color or smell</td>
                  </tr>
                  <tr>
                    <td>Dribbling at the end of urination</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-sm">
            <table class="table">
                <thead>
                  <tr class="table-primary">
                    <th class="text-center">Symptons</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        Trouble starting or keeping a urine stream
                    </td>
                  </tr>
                  <tr>
                    <td>Blood in your urine</td>
                  </tr>
                  <tr>
                    <td>Unable to empty your bladder completely</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-sm">
            <table class="table">
                <thead>
                  <tr class="table-primary">
                    <th class="text-center">Symptons</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                       Urinating eight or more times a day
                    </td>
                  </tr>
                  <tr>
                    <td>Unable to delay urination</td>
                  </tr>
                  <tr>
                    <td>Walking often to urinate when you sleep</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

    <!-- Audio -->
    <div class="row">
        <div class="col-md">
            <button type="button" class="btn btn-outline-success btn-block" (click)="symptomsPlay()">
              <i class="fa fa-play" aria-hidden="true"></i>
              Play Audio
            </button>
        </div>
        <div class="col-md">
            <button type="button" class="btn btn-outline-secondary btn-block" (click)="symptomsStop()">
              <i class="fa fa-stop" aria-hidden="true"></i>
              Stop Audio
            </button>
        </div>
    </div>
</div>