<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="title">
                <h1 class="problem-title">
                    <i class="fa fa-universal-access" aria-hidden="true"></i>
                    Active Treatment
                </h1>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Text and Audio -->
        <div class="col-md">
            <ul>
                <li>
                    Depending on how advanced the cancer is, there are different active treatment
                    options. Currently, surgery, radiation, and chemotherapy are the 3 main types 
                    of cancer treatment.
                </li>
                <li>
                    A particular treatment may be more effective for some men than for others.
                </li>
                <li>
                    In general, older men and those men who have other life-threatening health
                    conditions may be less likely to benefit from finding and treating prostate cancer.
                </li>
                <li>
                    The side effects of active treatment (problems with urination, bowel movements and
                    sexual function) could make a man’s life more difficult and may be a high price to
                    pay for treating a slow growing cancer.
                </li>
            </ul>
            
            <div class="row">
                <div class="col-md">
                    <button type="button" class="btn btn-outline-success btn-block" (click)="activeTreatmentPlay()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play Audio
                    </button>
                </div>
                <div class="col-md">
                    <button type="button" class="btn btn-outline-secondary btn-block" (click)="activeTreatmentStop()">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                        Stop Audio
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>